<div class="pageContent extended" ui-view data-ng-init="tms_settings_users_init()"><div class="row"><!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" > --><div class="pull-left col-md-4 col-lg-4"><h1 class="pageTitle"><a>{{breadcrumb}}</a></h1><ol class="breadcrumb"><!-- <li>
                    <a href="/tms/transport/">Dashboard</a>
                </li>  --><li>Masters</li><li class="active">{{breadcrumb}}</li></ol></div><div class="col-md-8 col-lg-8"><div class="pageTitle pull-right" style="padding-right:20px"><a href="/tms/transport/add-users/" ng-if="(user.user_type_choice == 'Superuser' || user.user_type_choice =='Branch Manager' || user.user_type_choice =='Corporate Operations' || user.user_type_choice =='Corporate Commercials' || user.user_type_choice =='Corporate Operations and Commercials')"><button class="btn btn-default bg-red">Add User</button></a></div><div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 pageTitle pull-right" style="display:inline-flex"><span style="color: #363f45;font-size: 14px;margin-top:8px;opacity: 0.7;font-weight:100;text-transform: capitalize"><!-- ng-if="state_name_navbar =='TmsSettingsUsers'" --> Select&nbsp;Branch&nbsp;:&nbsp;</span><select ng-model="branch_pk" class="form-control" name="branchView" ng-change="getBranchGlobally(branch_pk)" ng-options="branch.pk as branch.branch_name for branch in branchUserPrivileges" style="max-width: max-content;margin-top:4px"><option value="" ng-if="(branchUserPrivileges.length > 1) || (user.user_type_choice=='Superuser' || user.user_type_choice=='Corporate Commercials' || user.user_type_choice=='Corporate Operations')">All</option></select></div></div><div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"><div class="box"><div class="row"><!-- <div class="pageContent"> --><div class="col-sm-6 col-xs-6 col-md-6 col-lg-6"><h2 class="boxHeadline">User List</h2><h3 class="boxHeadlineSub">Total : {{count}}</h3></div><div class="col-sm-6 col-xs-6 col-md-6 col-lg-6"><div class="input-group custom-search-form"><input type="text" class="simple-input" placeholder="Search..." ng-model="search"> <span class="input-group-btn" ng-model="search"><button class="btn btn-default btn-addon" type="button" style="top: 0px"><i class="fa fa-search"></i></button></span></div></div><div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"><div class="table-responsive"><table class="table" ts-wrapper ts-no-data-text="No users recorded for on platform/branch setting..."><thead class="table-head"><tr><th ts-criteria="name">User Name</th><th ts-criteria="transporter_office[0].branch_name">User Branch</th><th ts-criteria="user_type_choice">User Type</th><th ts-criteria="mobile">User Mobile</th><th ts-criteria="email">User Email</th><!-- <th>Edit/Delete</th>--></tr></thead><tbody class="table-body"><tr ng-repeat="userTable in array_of_users | filter:search" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ts-repeat><!-- <td>
                                        {{(page_count-1)*10 +($index + 1)}}
                                        </td> --><td><!-- ng-if="(userTable.user_type_choice != user.user_type_choice)" --> <a class="hyperLink_codezen" href="/tms/transport/{{userTable.pk}}/edit-users/">{{userTable.name}}</a></td><!-- <td ng-if="userTable.user_type_choice == user.user_type_choice"> 
                                            {{userTable.name}}
                                        </td> --><td><p ng-repeat="branchesAssigned in userTable.transporter_office">{{branchesAssigned.branch_name}}</p></td><td>{{userTable.user_type_choice}}</td><td>{{userTable.mobile}}</td><td>{{userTable.email}}</td><!--<label style="width:25px;"> <i style="font-size:12px;" class="fa fa-envelope-o"></i> </label>   <label style="width:25px;"> <i style="font-size:15px;" class="fa fa-phone icon"></i> </label>                                         <div style="display:inline-flex"></div>
                                        <td style="cursor: pointer;" class="onhover">
                                            <div style="margin-left:7px">
                                                <a  href="/tms/transport/{{user.pk}}/edit-users/"> 
                                                    <i class="fa fa-pencil" style="color:#ec971f" aria-hidden="true"></i>
                                                </a>
                                                <i class="fa fa-times" ng-click="confirm_userDelete(user.pk)" style="color:#ac2925"></i>
                                            </div>
                                        </td> --></tr></tbody></table></div></div></div><!-- </div> --></div></div></div></div><!-- <div id="deleteConfirmationBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Deletion
            </div>
            <div class="modal-subheading">
                Are You Sure About Deleting The User?
            </div>
            <div style="float: right;">
                <button class="btn" data-dismiss="modal" ng-click="returnToDetails()"><a>No, do not delete</a></button>
                <button class="btn " data-dismiss="modal" ng-click="removeUser(user.pk)" style="color: red;">Yes, Delete</button>
                $stateParams.pk_users
            </div>
        </div>
    </div>
</div> -->