<div class="pageWrap" data-ng-init="tms_settings_branches_init()"><div class="pageContent extended"><div class="row"><div class="pull-left col-md-4 col-lg-4"><h1 class="pageTitle"><a>{{breadcrumb}}</a></h1><ol class="breadcrumb"><!-- <li>
                        <a href="/tms/transport/">Dashboard</a>
                    </li>  --><li><a href="/tms/transport/branches/">Branches</a></li><li class="active">{{breadcrumb}}</li></ol></div><!-- <div class="pull-right col-md-8">
                    <div class="pageTitle pull-right" style="display:inline-flex; padding-right:25px;">
                        <span style="color: #363f45;font-size: 14px;margin-top:8px;opacity: 0.7;font-weight:100;text-transform: capitalize;">
                            Select&nbsp;Branch&nbsp;:&nbsp;
                        </span>
                        <select  ng-model="branch_pk" class="form-control" name="branchView" ng-change="getBranchGlobally(branch_pk)" ng-options="branch.pk as branch.branch_name for branch in branchUserPrivileges" style="max-width: max-content;margin-top:4px;">
                            <option value="" ng-if="(branchUserPrivileges.length > 1) || (user.user_type_choice=='Superuser' || user.user_type_choice=='Corporate Commercials' || user.user_type_choice=='Corporate Operations')"> All </option>
                        </select> 
                    </div>
                </div> --><div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="box" style="overflow:scroll"><div class="row"><form role="form" name="branchRegistrationForm" autocomplete="off" ng-submit="submitForm(branchRegistrationForm)" novalidate><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="col-lg-6 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Branch Details</h3></div><div class="panel-body"><div class="col-lg-6 col-md-6" style="padding:0px; padding-left:8px"><div class="form-group" ng-class="{'has-error' : branchRegistrationForm.branch_code.$invalid && !branchRegistrationForm.branch_code.$pristine }"><label for="branch_code">Branch Code</label><input type="text" id="branch_code" name="branch_code" class="form-control" ng-model="branchDetails.branch_code" placeholder="" autofocus ng-disabled="formDisabled"><!-- <p ng-show="branchRegistrationForm.submitted && branchRegistrationForm.branch_name.$invalid" class="help-block error_show" style="margin-bottom:2px; color:#E01919;"> Branch Code is required</p> --></div></div><div class="col-lg-6 col-md-6" style="padding:0px; padding-left:8px"><div class="form-group" ng-class="{'has-error' : branchRegistrationForm.branch_name.$invalid && !branchRegistrationForm.branch_name.$pristine }"><label for="branch_name">Branch Name <strong class="fa-lg" style="color:black">*</strong></label><input type="text" name="branch_name" id="branch_name" class="form-control" ng-model="branchDetails.branch_name" placeholder="" ng-disabled="formDisabled" required><p ng-show="branchRegistrationForm.submitted && branchRegistrationForm.branch_name.$invalid" class="help-block error_show" style="margin-bottom:2px; color:#E01919">Branch Name is required</p></div></div><!-- <div class="form-group" > 
                                                <label>Office Type </label>
                                                <select class="select2 js-select2 form-control" name="officeSelect" ng-model="branchDetails.office_type">
                                                    <option value="" disabled hidden>Select Options</option>
                                                    <option value="Corporate">Corporate</option>
                                                    <option value="Branch">Branch</option>
                                                </select>
                                            </div>
                                            <div class="form-group checkboxes i">
                                                <span ng-if="user.user_type_choice == 'SuperUser'">
                                                    
                                                    <input type="checkbox" ng-model="branchDetails.head_office" required>
                                                    <span>Head Office</span>
                                                </span>
                                            </div> --></div></div></div><div class="col-lg-6 col-md-6"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Branch Series</h3></div><div class="panel-body" style="height:73px; padding:0px"><div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding:0px"><button type="button" class="btn btn-xs branchRangesButton" ng-disabled="vhc_rangeActiveDisabled" ng-click="clickButtonForRange('vhc')" data-toggle="modal" data-target="#branchRangesModal">VHC Number</button></div><div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding:0px"><button type="button" class="btn btn-xs branchRangesButton" ng-disabled="lr_rangeActiveDisabled" ng-click="clickButtonForRange('lr')" data-toggle="modal" data-target="#branchRangesModal">LR Numbers</button></div><div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding:0px"><button type="button" class="btn btn-xs branchRangesButton" ng-disabled="invoice_rangeActiveDisabled" ng-click="clickButtonForRange('invoice')" data-toggle="modal" data-target="#branchRangesModal">Invoice Numbers</button></div><div ng-bind="rangeMessage" class="help-block error_show" style="color:#E01919;text-align:center; padding-left:3px"></div></div></div></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="col-md-6 col-lg-6"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Address</h3></div><div class="panel-body"><div class="form-group" ng-class="{'has-error': branchRegistrationForm.branchTelephone.$invalid && !branchRegistrationForm.branchTelephone.$pristine || 'has-error': branchRegistrationForm.branchTelephone1.$invalid && !branchRegistrationForm.branchTelephone1.$pristine || 'has-error': branchRegistrationForm.branchTelephone2.$invalid && !branchRegistrationForm.branchTelephone2.$pristine || 'has-error': branchRegistrationForm.branchTelephone3.$invalid && !branchRegistrationForm.branchTelephone3.$pristine }"><label for="branchTelephoneId">Branch Telephone <button ng-click="counter(1)" type="button" class="btn btn-xs"><i class="fa fa-plus"></i></button></label><!-- ng-pattern="/^[6-9]{1}[0-9]{9}$/" --> <input type="text" id="branchTelephoneId" name="branchTelephone" class="form-control" ng-model="branchDetails.branch_telephone" placeholder="" ng-pattern="/^[0-9]{10}$/" ng-disabled="formDisabled"><!-- <span> --><!-- <p ng-if="!branchRegistrationForm.branchTelephone.$error.pattern" ng-show="branchRegistrationForm.branchTelephone.$error.minlength" class="help-block error_show" style="color:#E01919"> Telephone Number too short....</p>
                                                    <p ng-if="!branchRegistrationForm.branchTelephone.$error.pattern" ng-show="branchRegistrationForm.branchTelephone.$error.maxlength" class="help-block error_show" style="color:#E01919"> Telephone Number has too many numbers!.</p> --><p ng-show="branchRegistrationForm.branchTelephone.$error.pattern" class="help-block error_show" style="color:#E01919">Incomplete, please check!</p><p ng-show="(branchRegistrationForm.submitted && branchRegistrationForm.branchTelephone.$invalid) " class="help-block error_show" style="color:#E01919">Valid telephone number only please!</p><!-- </span> --> <input type="text" class="form-control" name="branchTelephone1" ng-model="branchDetails.branch_telephone1" placeholder="" ng-show="branchDetails.branch_telephone1 || randomArray[0]== 1" ng-minlength="10" ng-maxlength="10" ng-disabled="formDisabled"><!-- <span> --><!-- <p ng-if="!branchRegistrationForm.branchTelephone1.$error.pattern" ng-show="branchRegistrationForm.branchTelephone1.$error.minlength" class="help-block error_show" style="color:#E01919"> Telephone Number too short....</p>
                                                    <p ng-if="!branchRegistrationForm.branchTelephone1.$error.pattern" ng-show="branchRegistrationForm.branchTelephone1.$error.maxlength" class="help-block error_show" style="color:#E01919"> Telephone Number has too many numbers!.</p> --><p ng-if="branchDetails.branch_telephone1" ng-show="branchRegistrationForm.branchTelephone1.$error.pattern" class="help-block error_show" style="color:#E01919">Incomplete, please check!</p><p ng-if="branchDetails.branch_telephone1" ng-show="(branchRegistrationForm.submitted && branchRegistrationForm.branchTelephone1.$invalid) " class="help-block error_show" style="color:#E01919">Valid telephone number only please!</p><!-- </span> --> <input type="text" class="form-control" name="branchTelephone2" ng-model="branchDetails.branch_telephone2" placeholder="" ng-show="branchDetails.branch_telephone2 || randomArray[1] == 1" ng-minlength="10" ng-maxlength="10" ng-disabled="formDisabled"><!-- <span> --><!-- <p ng-if="!branchRegistrationForm.branchTelephone2.$error.pattern" ng-show="branchRegistrationForm.branchTelephone2.$error.minlength" class="help-block error_show" style="color:#E01919"> Telephone Number too short....</p>
                                                    <p ng-if="!branchRegistrationForm.branchTelephone2.$error.pattern" ng-show="branchRegistrationForm.branchTelephone2.$error.maxlength" class="help-block error_show" style="color:#E01919"> Telephone Number has too many numbers!.</p> --><p ng-if="branchDetails.branch_telephone2" ng-show="branchRegistrationForm.branchTelephone2.$error.pattern" class="help-block error_show" style="color:#E01919">Incomplete, please check!</p><p ng-if="branchDetails.branch_telephone2" ng-show="(branchRegistrationForm.submitted && branchRegistrationForm.branchTelephone2.$invalid) " class="help-block error_show" style="color:#E01919">Valid telephone number only please!</p><!-- </span> --> <input type="text" class="form-control" name="branchTelephone3" ng-model="branchDetails.branch_telephone3" placeholder="" ng-show="branchDetails.branch_telephone3 || randomArray[2] == 1" ng-minlength="10" ng-maxlength="10" ng-disabled="formDisabled"><!-- <span> --><!-- <p ng-if="!branchRegistrationForm.branchTelephone3.$error.pattern" ng-show="branchRegistrationForm.branchTelephone3.$error.minlength" class="help-block error_show" style="color:#E01919"> Telephone Number too short....</p>
                                                    <p ng-if="!branchRegistrationForm.branchTelephone3.$error.pattern" ng-show="branchRegistrationForm.branchTelephone3.$error.maxlength" class="help-block error_show" style="color:#E01919"> Telephone Number has too many numbers!.</p> --><p ng-if="branchDetails.branch_telephone3" ng-show="branchRegistrationForm.branchTelephone3.$error.pattern" class="help-block error_show" style="color:#E01919">Incomplete, please check!</p><p ng-if="branchDetails.branch_telephone3" ng-show="(branchRegistrationForm.submitted && branchRegistrationForm.branchTelephone3.$invalid)" class="help-block error_show" style="color:#E01919">Valid telephone number only please!</p><!-- </span> --><!-- </span> --></div><div class="form-group" ng-class="{ 'has-error' : (branchRegistrationForm.address_textarea.$invalid) && (!branchRegistrationForm.address_textarea.$pristine)}"><label for="address">Registered Address <strong class="fa-lg" style="color:black">*</strong></label><textarea rows="auto" cols="auto" name="address_textarea" placeholder="" class="form-control" style="height:100px; width:100%" ng-model="branchDetails.address" ng-required="true" ng-disabled="formDisabled">
                                                <p class="help-block error_show" style="color:#E01919" ng-show="branchRegistrationForm.submitted && branchRegistrationForm.address_textarea.$invalid"> Please enter branch address to proceed... </p>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : branchRegistrationForm.cityPk.$invalid && !branchRegistrationForm.cityPk.$pristine}"> 
                                                <label for="" class="labelCompanyInfo"> City <strong class="fa-lg" style="color:black">*</strong> </label>
                                                <div angucomplete-alt id="branchCityField" ng-click="getCityPk(branchCitySelected.pk)" placeholder="" pause="100" selected-object="cityObjectFn" remote-api-handler="searchCityAPI" remote-url-data-field="data" title-field="name" minlength="1" input-class="form-control form-control-small" description-field="state.code" initial-value="branchCitySelected" match-class="highlight" field-required="true" input-name="branchCityFieldName" override-selected="false" disable-input="formDisabled">
                                                </div>
                                                <p class="help-block error_show" style="color:#E01919" ng-show="branchRegistrationForm.submitted && branchRegistrationForm.branchCityFieldName.$invalid"> City of Branch is required!! </p>
                                            </div>
                                            <div class="form-group">    
                                                <label class="labelCompanyInfo"> State </label>
                                                <label class="x labelThinner"> {{branchDetails.state.name}} </label>
                                            </div>
                                            <div class="form-group" style="margin-bottom:20px"> 
                                                <label for="pin_code" class="labelCompanyInfo"> Area or Pincode </label>
                                                <div angucomplete-alt id="pin_code" placeholder="JNPT or 400707" pause="100" selected-object="pinCodeObjectFn" remote-api-handler="searchPincodeAPI" remote-url-data-field="data" title-field="pin_code,place" minlength="2" input-class="form-control form-control-small" initial-value="branchPincodeSelected" input-name="pin_code" match-class="highlight" override-selected="false" disable-input="formDisabled">
                                                </div>
                                                <p ng-show="branchRegistrationForm.submitted && branchRegistrationForm.pin_code.$invalid" class="help-block error_show" style="margin-bottom:2px; color:#E01919"> Pin-Code needs to be selected..</p>
                                            </div>                                        
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading"> 
                                            <h3 class="panel-title"> Registered Account </h3> 
                                        </div>
                                        <div class="panel-body">
                                            <!-- <div class="form-group" style="margin-bottom:20px;" ng-class="{'has-error' : branchRegistrationForm.pan.$invalid && !branchRegistrationForm.pan.$pristine }">
                                                <label class="labelCompanyInfo"> PAN Number </label>
                                                <label class="x labelThinner"> {{branchDetails.pan}} </label>
                                            </div> -->
                                            <div class="form-group" style="margin-bottom:20px" ng-class="{'has-error': branchRegistrationForm.branch_se.$invalid && !branchRegistrationForm.branch_se.$pristine}">
                                                <label for="branch_sne"> Shops &  Establishment Number </label>
                                                <input id="branch_sne" type="text" name="branch_se" class="form-control" ng-model="branchDetails.branch_s_e" placeholder="" ng-disabled="formDisabled">
                                                <p ng-show="branchRegistrationForm.submitted && branchRegistrationForm.branch_se.$invalid" class="help-block error_show" style="margin-bottom:2px; color:#E01919"> Shop & Establishment number is a must to record branch</p>
                                            </div>
                                            
                                            <div class="form-group" ng-if="user.user_type_choice == 'Superuser'">
                                                <label class="labelCompanyInfo" style="width:auto"> Shop & Establishment document </label> <br>
                                                <button class="btn btn-default bg-red traansportFileUploadButton" style="background-color:#363f45" data-provides="fileuploaded" ngf-select ng-model="branchDetails.branch_s_e_proof" ngf-pattern="'image/*,application/pdf'" ngf-accept="'image/*,application/pdf'" ngf-max-size="25MB">Upload file</button> 
                                                <label style="width:inherit; height:40px; background-color:white; cursor:initial; margin:2px; border: none; font-weight:300; color:black; overflow:hidden"> {{branchDetails.branch_s_e_proof.name}} </label>
                                                <div ng-if="branchDetails.branch_se_proof_prezsupport != null" style="display:inline-block">
                                                    <!-- <label class="labelCompanyInfo" style="margin:7px; width:auto;" > Server Version: </label> -->

                                                    <button class="btn btn-xs" style="border:1px solid; width:85px">
                                                        <a href="{{branchDetails.branch_se_proof_prezsupport}}" target="_blank"> Preview </a>
                                                    </button>
                                                    <button class="btn btn-xs" style="border:1px solid; width:85px"> 
                                                        <a href="{{branchDetails.branch_se_proof_prezsupport}}" download> Download </a>
                                                    </button>                                                    
                                                </div>
                                            </div>
                                            
                                            <div class="form-group" style="margin-bottom:20px" ng-class="{'has-error': branchRegistrationForm.gstNumber.$invalid && !branchRegistrationForm.gstNumber.$pristine}">
                                                <label for="branch_gst_input"> GST Number </label>
                                                <input id="branch_gst_input" type="text" name="branch_gst_input" class="form-control" ng-model="branchDetails.branch_gst" placeholder="" ng-disabled="formDisabled">
                                                <!-- <p ng-show="branchRegistrationForm.submitted && branchRegistrationForm.branch_gst_input.$invalid" class="help-block error_show" style="margin-bottom:2px; color:#E01919;"> GST number is a must to record new branch</p> -->
                                            </div>
                                            
                                            <div class="form-group" ng-if="user.user_type_choice == 'Superuser'">
                                                <label class="labelCompanyInfo" style="width:auto"> GST Registration document </label> <br>
                                                <button class="btn btn-default bg-red traansportFileUploadButton" style="background-color:#363f45" data-provides="fileuploaded" ngf-select ng-model="branchDetails.branch_gst_proof" ngf-pattern="'image/*,application/pdf'" ngf-accept="'image/*,application/pdf'" ngf-max-size="25MB">Upload file</button> 
                                                <label style="width:inherit; height:40px; background-color:white; cursor:initial; margin:2px; border: none; font-weight:300; color:black;overflow:hidden"> {{branchDetails.branch_gst_proof.name}} </label>
                                                <div ng-if="branchDetails.branch_gst_proof_prezsupport != null" style="display:inline-block">
                                                    <!-- <label class="labelCompanyInfo" style="margin:7px; width:auto;" > Server Version: </label> -->
                                                    <button class="btn btn-xs" style="border:1px solid; width:85px"> 
                                                        <a href="{{branchDetails.branch_gst_proof_prezsupport}}" target="_blank"> Preview </a>
                                                    </button>
                                                    <button class="btn btn-xs" style="border:1px solid; width:85px"> 
                                                        <a href="{{branchDetails.branch_gst_proof_prezsupport}}" download> Download </a>
                                                    </button>                                                    
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right" style="margin-bottom:20px">
                                <div id="actionsHolder" style="float:right; display:inline-flex; z-index:1">
                                <!-- <button type="cancel" class="btn btn-default bg-blue codezenFormButtons" ng-click="returnToDetails()" >Back</button> -->

                                    <button type="submit" ng-show="user.user_type_choice=='Superuser'" class="btn btn-default btn-primary codezenFormButtons"> Save </button>
                                    <a href="/tms/transport/branches/">
                                        <button type="cancel" class="btn btn-default bg-blue codezenFormButtons"> 
                                            Back 
                                        </button>
                                    </a>
                                    <button type="button" ng-show="user.user_type_choice=='Superuser'" class="btn btn-default bg-red codezenFormButtons" ng-if="state_name_navbar == 'TmsSettingsBranchesEdit'" data-toggle="modal" data-target="#deleteConfirmationBox"> Delete </button>
                                </div>
                            </div>
                        </form>

                        <!-- Users in Branch List --> 
                        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" ng-if="state_name_navbar == 'TmsSettingsBranchesEdit'" style="border-top:2px solid #000;margin-top:85px">
                            <div style="margin-top:25px">
                                <div class="panel panel-primary">
                                    <div class="panel-heading"> 
                                        <h3 class="panel-title"> Branch Users</h3> 
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="padding:0px">
                                            <h2 class="boxHeadline"> User List</h2>
                                            <h3 class="boxHeadlineSub">Total : {{count}}</h3>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="padding:0px">
                                            <div class="input-group custom-search-form">
                                                <input type="text" class="simple-input" placeholder="Search..." ng-model="search" ng-keyup="$event.keyCode == 13 && search_function(search)" ng-change="search_function(search)">
                                                <span class="input-group-btn" ng-model="search">
                                                    <button class="btn btn-default btn-addon" type="button" ng-click="search_function(search)" style="top:0px">
                                                        <i class="fa fa-search"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                                <div class="table-responsive">
                                                    <table class="table" ts-wrapper ts-no-data-text="No user in branch registered...">
                                                        <thead class="table-head">
                                                            <tr>
                                                                <th ts-criteria="name"> User Name </th>
                                                                <th ts-criteria="transporter_office[0].branch_name"> User Branch </th>
                                                                <th ts-criteria="user_type_choice"> User Type </th>
                                                                <th ts-criteria="mobile"> User Mobile </th>
                                                                <th ts-criteria="email"> User Email </th>
                                                                <th ts-criteria="primary"> Branch Primary </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody class="table-body">
                                                            <tr ng-repeat="branchUser in allBranchUsers" ng-mouseenter="view=true" ng-mouseleave="view=false">
                                                                <!-- <td>
                                                                {{(page_count-1)*10 +($index + 1)}}
                                                                </td> -->
                                                                <td>
                                                                    <a class="hyperLink_codezen" href="/tms/transport/{{branchUser.pk}}/edit-users/">
                                                                        {{branchUser.name}}<br>
                                                                    </a>
                                                                </td>
                                                                <td>
                                                                    <p ng-repeat="branchesAssigned in branchUser.transporter_office">
                                                                        {{branchesAssigned.branch_name}}
                                                                    </p>
                                                                </td>
                                                                <td>
                                                                    {{branchUser.user_type_choice}}
                                                                </td>
                                                                <td>
                                                                    {{branchUser.mobile}} 
                                                                </td>
                                                                <td>
                                                                    {{branchUser.email}}
                                                                </td>
                                                                <td>
                                                                    <!-- {{branchUser.primary}} -->
                                                                    <div style="display:inline-flex">
                                                                        <!-- <span ng-repeat= "priv in customerUser.customer_ctu"> -->
                                                                        <input type="checkbox" ng-model="branchUser.primary" ng-change="make_primary_contact(branchUser.pk, branchUser.primary)" ng-disabled="user.user_type_choice != 'Superuser'" style="height:22px; width:22px"> 
                                                                        <span style="padding-top:3px"> Branch Primary </span>
                                                                    </div>
                                                                </td>
                                                                <!-- <td style="cursor: pointer;" class="onhover">
                                                                    <div style="margin-left:7px">
                                                                        <a  href="/tms/transport/{{user.pk}}/edit-users/"> 
                                                                            <i class="fa fa-pencil" style="color:#ec971f" aria-hidden="true"></i>
                                                                        </a>
                                                                        <i class="fa fa-times" ng-click="confirm_userDelete(user.pk)" style="color:#ac2925"></i>
                                                                    </div>
                                                                </td> -->
                                                            </tr>  
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="deleteConfirmationBox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-box">
            <div class="modal-heading">
                Confirm Deletion
            </div>
            <div class="modal-subheading">
                Are You Sure About Deleting Truck?
            </div>
            <div style="float: right">
                <button class="btn" data-dismiss="modal"> <a>No, do not delete</a> </button>
                <!-- ng-click="returnToDetails()" -->
                <button class="btn" data-dismiss="modal" ng-click="removeBranch(truck.pk)" style="color: red">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>

<div id="confirmFormModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="max-width:70%">
        <div class="modal-content">
            <div class="modal-header rte" style="padding:15px">
                <button type="button" class="close" data-dismiss="modal" style="top:0;right:0;position:relative">×</button>
                <h5 class="modal-title info-header">Confirmation Box</h5>
            </div>
            <div class="modal-body" style="position:relative">
                <span style="padding:0px; margin:0px">Are you sure all the details are right?</span>
                <div class="pull-right" style="width: 250px; padding-top:10px"></div>
            </div>
            <div class="modal-footer" style="margin:30px 10px 0px 0px;height:70px">          
                <button type="button" class="btn" data-dismiss="modal"><a>Cancel</a></button>
                <button type="button" class="btn" ng-click="addCreate_edit_Branch(branchRegistrationForm)" data-dismiss="modal">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div id="branchRangesModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="height:auto">
        <div class="modal-content" style="width: 120%">
            <div class="modal-header rte" style="padding:15px">
                <button type="button" class="close" data-dismiss="modal" style="top:0;right:0;position:relative">×</button>
                <label class="modal-title info-header">Set Range {{modalRangePurpose}} </label>
            </div>
            <div class="modal-body" style="position:relative;width: 736px">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position:static">
                        <!-- <div class="col-xs-12 col-md-12" style="position:relative;"> -->
                            <!-- <div class="oneLineHolder" style="display:inline; position:absolute;">
                                <label id="prefix" class="inlineInputs form-control" name="prefixCode"> Prefix </label>
                                <label class="inlineInputs"> - </label>
                                <label id="numberMinDefinition" class="inlineInputs form-control" name="numberDefinitionMinName"> Start </label>
                                <label class="inlineInputs"> - </label>
                                <label id="numberMaxDefinition" class="inlineInputs form-control" name="numberDefinitionMaxName"> End </label>
                                <label class="inlineInputs"> - </label>
                                <label id="suffix" class="inlineInputs form-control" name="suffixStatusName"> Suffix </label>
                                <label class="inlineInputs"> - </label>
                                <label id="currentStatus" class="inlineInputs form-control" name="currentStatusName"> Current </label>
                            </div>
                            <br/> -->
                        <label style="font-size:12px; text-align:right; padding-right:4px"> Set New Range? </label>
                        <div class="oneLineHolder" style="display:inline; position:absolute">
                            <input id="prefix" class="inlineInputs form-control" placeholder="Prefix" type="text" name="prefixCode" ng-model="prefixRangeModel"> 
                            <label class="inlineInputsSpacing"> - </label>
                            <input id="numberMinDefinition" class="inlineInputs form-control" placeholder="Start" type="text" name="numberDefinitionMinName" ng-model="startRangeModel"> 
                            <label class="inlineInputsSpacing"> - </label>
                            <input id="numberMaxDefinition" class="inlineInputs form-control" placeholder="End" type="text" name="numberDefinitionMaxName" ng-model="endRangeModel"> 
                            <label class="inlineInputsSpacing"> - </label>
                            <input id="suffix" class="inlineInputs form-control" type="text" placeholder="Suffix" name="suffixStatusName" ng-model="suffixRangeModel"> 
                            <label class="inlineInputsSpacing"> - </label>
                            <input id="currentStatus" class="inlineInputs form-control" type="text" placeholder="Current" name="currentStatusName" ng-model="currentRangeModel"> 
                            <div class="pull-right" style="padding-left:40px; padding-bottom:4px">
                                <button type="button" class="btn" ng-click="addCreate_Edit_Ranges(modalRangePurpose)" data-dismiss="modal">Confirm</button>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="position:relative; margin-top:40px">
                            <div class="table-responsive">
                                <table class="table" ts-wrapper ts-no-data-text="Range not assigned">
                                    <thead class="table-head">
                                        <tr>
                                            <th ts-criteria="range" style="min-width:100px"> Ranges defined <br> <span style="font-size:8px"> Prefix-Start-End-Suffix </span> </th>
                                            <th ts-criteria="current" style="min-width:100px"> Current <br> <span style="font-size:8px"> Prefix-Current-Suffix </span> </th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr ng-repeat="range in array_of_ranges_related" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ts-repeat>
                                            <td>
                                                {{range.prefix}}-{{range.start}}-{{range.end}}-{{range.suffix}}
                                            </td>
                                            <td>
                                                {{range.prefix}}-{{range.current}}-{{range.suffix}}
                                            </td>
                                            <!-- <td data-ng-hide="editRange">
                                                <div style="display: inline-flex;">
                                                    <i class="fa fa-pencil onhover" data-ng-click="editRange =true; " style="color:#ec971f;cursor: pointer;" title="Edit" aria-hidden="true"></i>  -->
                                                    <!-- edit(charge.charges_type) -->
                                                    <!-- <i class="fa fa-trash onhover" style="color:#f34235;cursor: pointer;" title="Delete" aria-hidden="true"></i> -->
                                                    <!-- data-ng-click="delete_charge_modal(charge.pk,charge.charges_type)" -->
                                                <!-- </div>
                                            </td> -->
                                            <!-- <td data-ng-show="editRange">
                                                <div style="display: inline-flex;"> 
                                                    <i class="fa fa-check onhover" aria-hidden="true" ng-click="edit_recorded_charges(charge.pk,charge.amount,charge.charges_type,charge.charge_proof,charge.remarks)" title="Save" style="color: #fe5621;cursor: pointer;"></i>
                                                    <i class="fa fa-times onhover" data-ng-click="editRange = false; charges_list(idToCRUD);" title="Cancel" value="reset" style="color: #9d9d9d;cursor: pointer;" aria-hidden="true"></i>
                                                </div>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> 
                    </div>
                    <div class="col-xs-12 col-md-12" style="position:relative; margin-top:50px">
                        <div>
                            <!-- <div class="pull-left">
                                <span style="padding:0px; padding-top:5px; margin:0px; border-top:2px silver"> Are you sure all the details are right? </span>
                            </div> -->
                            
                            <div class="pull-right">
                                <button type="button" class="btn" data-dismiss="modal"><a>Cancel</a></button>
                                <!-- <button type="button" class="btn" ng-click="addCreate_Edit_Ranges(modalRangePurpose)" data-dismiss="modal">Confirm</button> -->
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>           
            <div class="modal-footer" style="margin:2px 10px 0px 0px; height:10px"></div></div></div></div></div>