<div class="pageContent extended" ui-view data-ng-init="tms_settings_branches_init()"><div class="row"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px"><div class="pull-left col-md-6 col-lg-6"><h1 class="pageTitle"><a>{{breadcrumb}}</a></h1><ol class="breadcrumb"><li>Masters</li><li class="active">{{breadcrumb}}</li></ol></div><!-- <div class="col-md-2 col-lg-2">
                <h1 class="pageTitle">
                    <button class="btn btn-default bg-red" ng-click="download_sample_bulk_upload('Branch');" style="border: 1px solid #C0C0C0;background-color:#4b9cdc;margin-left: 39px;">
                        Download Sample Sheet
                    </button>
                </h1>
            </div>
            <div class="col-md-2 col-lg-2">
                <h1 class="pageTitle">
                    <button class="btn btn-default bg-red" data-toggle="modal" data-target="#upload_excel_file" style="float: right;border: 1px solid #C0C0C0;background-color:#4b9cdc;margin-right: -23px;">
                        Import
                    </button>
                </h1>
            </div> --><div class="col-md-6 col-lg-6"><h1 class="pageTitle"><a ng-if="user.user_type_choice=='Superuser'" href="/tms/transport/add-branch/"><button class="btn btn-default bg-red" style="float: right;margin-right:20px">Add Branch</button></a></h1><!-- <div class="pageTitle pull-right" style="display:inline-flex;">
                    <span ng-if="state_name_navbar =='TmsSettingsBranches'" style="color: #363f45;font-size: 14px;margin-top:8px;opacity: 0.7;font-weight:100;text-transform: capitalize;">
                        Select&nbsp;Branch&nbsp;:&nbsp;
                    </span>
                    <select ng-if="state_name_navbar =='TmsSettingsBranches'"  ng-model="branch_pk" class="form-control" name="branchView" ng-change="getBranchGlobally(branch_pk)" ng-options="branch.pk as branch.branch_name for branch in branchUserPrivileges" style="max-width: max-content;margin-top:4px;">
                        <option value="" ng-if="(branchUserPrivileges.length > 1) || (user.user_type_choice=='Superuser' || user.user_type_choice=='Corporate Commercials' || user.user_type_choice=='Corporate Operations')"> All </option>
                    </select> 
                </div> --></div></div><div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"><div class="box"><!-- <div class="pageContent"> --><div class="row"><div class="col-sm-6 col-xs-6 col-md-6 col-lg-6"><h2 class="boxHeadline">Branch List</h2><h3 class="boxHeadlineSub">Total : {{count}}</h3></div><div class="col-sm-6 col-xs-6 col-md-6 col-lg-6"><div class="input-group custom-search-form"><input type="text" class="simple-input" placeholder="Search..." ng-model="search"> <span class="input-group-btn" ng-model="search"><button class="btn btn-default btn-addon" type="button" style="top:0px"><i class="fa fa-search"></i></button></span></div></div><div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"><div class="table-responsive" style="overflow-y: auto;max-height: 759px !important"><table class="table" ts-wrapper ts-no-data-text="No branches recorded for on platform/branch setting..."><thead class="table-head"><tr><!-- <th > S.N.</th> --><th ts-criteria="branch_name">Branch Name</th><th ts-criteria="city.name">City</th><th ts-criteria="state.name">State</th><th ts-criteria="head_office">Head Office</th><!-- <th ts-criteria=""> Registered Accounts</th> Linked accounts, Registration Details, Registered Account --><!-- <th ts-criteria=""> Action(s)</th> --></tr></thead><tbody class="table-body"><tr ng-repeat="branch in array_of_branches | filter:search" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ts-repeat><td><a class="hyperLink_codezen" href="/tms/transport/{{branch.pk}}/edit-branches/">{{branch.branch_name}} </a><!-- {{branch.branch_code}} --></td><td>{{branch.city.name}}</td><td>{{branch.state.name}}</td><td><!-- {{branch.pk}} --> <input type="checkbox" ng-model="branch.head_office" ng-click="updateHeadOfficeStatus(branch.pk, branch.head_office)" ng-disabled="user.user_type_choice != 'Superuser'" style="height:22px; width:22px; margin-left:20%"></td></tr></tbody></table></div></div></div><!-- </div> --></div></div></div></div><div id="upload_excel_file" class="modal fade" role="dialog"><div class="modal-dialog" style="max-width:100%"><div class="modal-content"><div class="modal-header rte" style="padding:15px"><button type="button" class="close" data-dismiss="modal" style="top:0;right:0;position:relative">×</button><h2 class="modal-title">Attach Document</h2></div><div class="modal-body"><div style="display:inline-flex"><div class="form-group col-md-4 col-lg-4"><button class="btn traansportFileUploadButton" id="input1" data-provides="fileuploaded" name="companyLogoFile" accept=".xlsx" ngf-select="" ng-model="testFile">Select File</button></div><div ng-if="testFile" class="form-group col-md-8 col-lg-8"><p ng-if="testFile">{{testFile.name}} has been selected</p></div></div></div><div class="modal-footer"><div style="float: right;margin-bottom: 10px;margin-top:10px"><button class="btn" data-dismiss="modal"><a>Cancel</a></button> <button class="btn" ng-click="check_bulk_data_of_branches()" ng-disabled="!testFile" data-dismiss="modal" style="color: red">Upload</button></div></div></div></div></div><div id="excel_uploaded_data" class="modal fade" role="dialog" style="padding-left: 1%"><div class="modal-dialog" style="width:100%"><div class="modal-content"><div class="modal-header rte" style="margin-bottom: -13px"><h2 class="modal-title">Excel Uploaded Data</h2><button type="button" class="close" data-dismiss="modal">&times;</button></div><div class="modal-body row"><div ng-if="create_branch_list" class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><h4>Newly Added Data</h4><div class="table-responsive" style="max-height: 250px"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align: left;text-transform: capitalize"><th ts-criteria="branch_name">Branch Name</th><th ts-criteria="branch_code">Branch Code</th><th ts-criteria="address" style="width: 128px">Address</th><th ts-criteria="city">City</th><th ts-criteria="state">State</th><th ts-criteria="pin_code">Pincode</th><th ts-criteria="branch_telephone">Telephone</th><th ts-criteria="branch_s_e">Shop & Establishment</th><th ts-criteria="branch_gst">GST</th></tr></thead><tbody class="table-body"><tr ng-repeat="create_branch in create_branch_list" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ng-class="{'disputed_css':create_branch.error == 0}" ts-repeat><td>{{create_branch.branch_name}}</td><td>{{create_branch.branch_code}}</td><td style="width: 128px">{{create_branch.address}}</td><td>{{create_branch.city}}</td><td>{{create_branch.state}}</td><td style="width: 102px">{{create_branch.pin_code}}</td><td>{{create_branch.branch_telephone}}</td><td>{{create_branch.branch_s_e}}</td><td>{{create_branch.branch_gst}}</td></tr></tbody></table></div></div><div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><h4>Edited Branches Data</h4><div class="table-responsive" style="max-height: 250px"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align: left;text-transform: capitalize"><th ts-criteria="branch_name">Branch Name</th><th ts-criteria="branch_code">Branch Code</th><th ts-criteria="address" style="width: 128px">Address</th><th ts-criteria="city">City</th><th ts-criteria="state">State</th><th ts-criteria="pin_code">Pincode</th><th ts-criteria="branch_telephone">Telephone</th><th ts-criteria="branch_s_e">Shop & Establishment</th><th ts-criteria="branch_gst">GST</th></tr></thead><tbody class="table-body"><tr ng-repeat="edit_branch in edit_branch_list" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ng-class="{'disputed_css': edit_branch.error == 0}" ts-repeat><td>{{edit_branch.branch_name}}</td><td>{{edit_branch.branch_code}}</td><td style="width: 128px">{{edit_branch.address}}</td><td>{{edit_branch.city}}</td><td>{{edit_branch.state}}</td><td style="width: 102px">{{edit_branch.pin_code}}</td><td>{{edit_branch.branch_telephone}}</td><td>{{edit_branch.branch_s_e}}</td><td>{{edit_branch.branch_gst}}</td></tr></tbody></table></div></div><div class="modal-footer"><div style="float: right;margin-bottom: 10px;margin-top:10px"><button class="btn" data-dismiss="modal"><a>Close</a></button> <button class="btn" style="color: #fe5621" ng-click="confirm_create_branch_upload()">Confirm</button></div></div></div></div></div></div>