<div class="pageWrap" data-ng-init="tms_settings_init()"><div class="pageContent extended"><div class="row"><div class="pull-left"><h1 class="pageTitle"><a>Settings</a></h1><ol class="breadcrumb"><li><a href="/tms/transport/" style="text-transform:capitalize">{{user.name}}</a></li><li class="active">Settings</li></ol></div></div><!-- <div class="row"> --><div class="pageWrap"><!-- Side menu quick stats --><!-- for smaller screen --><div class="col-xs-5 col-sm-4 hidden-md hidden-lg" style="padding: 0px 0px; margin: 0px 0px"><div class="box box-without-padding"><!-- <div class="simpleList simpleListLighten" > --><!-- <ul class="nav">
							<li ng-class="{'active' : (state_name_navbar=='TmsSettingsCorporate')}">
								<a class="clearfix" href="/tms/transport/settings/corporate/">
									<div class="pull-left">Corporate </div>
									<div class="pull-right"> 
										<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
									</div>
								</a>
							</li>
							<li ng-class="{'active' : (state_name_navbar=='TmsSettingsBranches')}">
								<a class="clearfix" href="/tms/transport/settings/branches/">
									<div class="pull-left">Branches</div>
									<div class="pull-right">
										<i class="fa fa-caret-right" />
									</div>
								</a>
							</li>
							<li ng-class="{'active' : (state_name_navbar=='TmsSettingsCustomers')}">
								<a class="clearfix" href="/tms/transport/settings/customers/">
									<div class="pull-left">Customers</div>
									<div class="pull-right">
									<i class="fa fa-caret-right"></i>
									</div>
								</a>
							</li>
							<li ng-class="{'active' : (state_name_navbar=='TmsSettingsProducts')}">
								<a class="clearfix" href="/tms/transport/settings/products/">
									<div class="pull-left">Products</div>
									<div class="pull-right">
									<i class="fa fa-caret-right" aria-hidden="true"></i>
									</div>
								</a>
							</li>
							<li ng-class="{'active' : (state_name_navbar=='TmsSettingsUsers')}">
								<a class="clearfix" href="/tms/transport/settings/users/">
									<div class="pull-left">Users</div>
									<div class="pull-right">
									<i class="fa fa-caret-right" aria-hidden="true"></i> 
									</div>
								</a>
							</li>
							<li ng-class="{'active' : (state_name_navbar=='TmsSettingsBrokers')}">
								<a class="clearfix" href="/tms/transport/settings/brokers/">
									<div class="pull-left">Brokers</div>
									<div class="pull-right">
									<i class="fa fa-caret-right" aria-hidden="true"></i>
									</div>
								</a>
							</li>
						</ul> --><!-- </div> --></div><!-- </div> --></div><!-- side menu end --><!--<li ng-class="{'active' : (state_name_navbar=='MyAccount')}">	
					<a class="clearfix" href="/tms/transport/my-account/">
						<div class="" style="text-align:center;">My Account</div>
						<div class="pull-right">
						<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>
						</div>
					</a>
				</li> --><!-- page-content --><div class="col-xs-12 col-sm-8 col-md-12 col-lg-12" style="margin: 0px 0px 0px 0px; padding:0 0 0 0"><div class="box box-withoutsidepadding" style="padding:0px; margin:0px"><!-- <div class="view-animate-container"> --><!-- <div ui-view="parent view" class="app-content view-animate"></div> --><div class="pageWrap" ui-view><!-- data-ng-init="tms_settings_init()" --><!-- </div> --></div></div><!-- page content end --></div></div></div><style>/* .mEFix:hover{
		background-color: white;
	} */</style><!-- sdf --><!-- <div class=" box col-xs-12 col-sm-12 col-md-12 col-lg-12 "> 
		
				<form role="form" style="padding:0px; margin-left:0px" name="managementRegistrationForm" autocomplete="off" ng-submit=submitForm(managementRegistrationForm) novalidate>
					<div class="box" style=" overflow: scroll;">
						<div class="col-xs-10 col-sm-10 col-md-6 col-lg-6">
							<div class="form-group" >
								<label for="name"> Name </label>
								<input type="text" id="name" class="form-control" name="staffName" ng-model="promoter_name" style="width:250px; height:40px;" required />
								
							</div>
		
							<div class="form-group" > 
								<label for="email"> Company Email </label>
								<input type="text" id="email" class="form-control" name="staffEmail" ng-model="promoter_email" style="width:250px; height:40px;" required />
								
							</div>
		
							<div class="form-group" > 
								<label for="mobile"> Mobile # </label>
								<input type="text" id="mobile" class="form-control" name="staffMobile" ng-model="promoter_mobile" style="width:250px; height:40px;" required />
								
							</div>
		
							<div class="form-group" > 
								<label for="address"> Address </label>
								<textarea rows="4" cols="50" id="address" class="form-control" name="address_textarea" style="width:250px; height:100px;" ng-model="promoter_address" required/>
								
							</div>
						</div>
		
						<div class="col-sm-10 col-xs-10 col-md-6 col-lg-6">
							<div class="form-group" > 
								<label for="aadhar"> City </label>
								<input type="text" id="city" class="form-control" name="city" ng-model="promoter_city" style="width:250px; height:40px;" required />
								
							</div>
							<div class="form-group" > 
								<label for="aadhar"> State </label>
								<input type="text" id="state" class="form-control" name="state" ng-model="promoter_state" style="width:250px; height:40px;" required />
								
							</div>
							
							<div class="form-group" > 
								<label for="aadhar"> Aadhar # </label>
								<input type="text" id="name" class="form-control" name="aadharNumber" ng-model="promoter_aadhar" style="width:250px; height:40px;" required />
								
							</div>
							<div class="form-group" > 
								<label for="pan"> PAN # </label>
								<input type="text" id="name" class="form-control" name="taxPAN" ng-model="promoter_pan" style="width:250px; height:40px;" required />
								
							</div>
							<button class="btn btn-xs" type="reset" ng-click="addNewPromoter()" style="line-height: 25px;width:100px;font-size: 15px; margin-top:10px; margin-right:24px; margin-left:10px; border:1px solid #C0C0C0; "> Submit </button>
							
							<button class="btn btn-xs" type="cancel"  ng-click="returnToDetails()" style="line-height: 25px;width:100px;font-size: 15px; margin-top:10px; margin-right:24px; border:1px solid #C0C0C0;"> Cancel </button>
							
						</div>
					</div>
				</form>
			</div> --><!--	sdf -->