<div ng-include src="'views/TMS/UIElements/tms_header.html'"></div><div ng-include src="'views/TMS/UIElements/tms_aside.html'"></div><div class="pageWrap" style="border-top:thin solid #DEDDDB ; height:auto" ui-view data-ng-init="tms_dash_init()"><div class="pageContent extended"><div class="row"><!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> --><div class="pull-left col-xs-12 col-sm-12 col-md-3 col-lg-3"><h1 class="pageTitle"><a>Dashboard</a></h1><ol class="breadcrumb"><li>Dashboard</li></ol></div><div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 pull-right"><div style="float:right"><!-- class="pageTitle" --> <span style="color:#363f45; font-size:10px; margin-top:8px; opacity:0.7; font-weight:100; text-transform:capitalize">Select&nbsp;Branch&nbsp;:&nbsp;</span><select ng-model="branch_pk" class="form-control" name="branchView" ng-change="getBranchGlobally(branch_pk)" ng-options="branch.pk as branch.branch_name for branch in branchUserPrivileges" style="width:250px; padding-top:-2px"><option value="" ng-if="( branchUserPrivileges.length > 1) || (user.user_type_choice=='Superuser' || user.user_type_choice=='Corporate Commercials' || user.user_type_choice=='Corporate Operations')">All</option></select></div></div><div class="col-sm-6 col-xs-6 col-md-6 col-lg-6" style="padding-left:0px"><!-- pull-right col-md-offset-2 col-lg-offset-2 --><div style="float:right; margin:13px"><div angucomplete-alt id="customer_search_global" pause="20" selected-object="global_custFunc" remote-api-handler="searchCustomerAPI" placeholder="Customer" remote-url-data-field="data" title-field="customer_company_name" description-field="customer_facility_name" minlength="2" input-class="form-control form-control-small" initial-value="custSearchSelected" match-class="highlight" field-required="true" input-name="customer" style="line-height:14px"></div></div></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px; margin-top:-10px"><div class="box row"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;position: relative;top: -20px"><div class="col-md-3 col-lg-3 pull-right"><strong>To</strong><div class="input-group date" id="datetimepicker_to"><input type="text" ng-model="to_dateTime" class="form-control"> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></div><div class="col-md-3 col-lg-3 pull-right"><strong>From</strong><div class="input-group date" id="datetimepicker_from"><input type="text" ng-model="from_dateTime" class="form-control"> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span></div></div></div><!-- 			    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="datefilter col-md-3 col-md-offset-6" style="margin-top:-30px;">
							<span class="datefilter"><strong>From Date:</strong></span>
							<div id="datepicker-1" class="input-group date " style="margin-top:-30px;margin-bottom:0px !important;">
								<p class="input-group" style="width:100%;">
									<input type="text" class="simple-input" 
										uib-datepicker-popup="{{format1}}" 
										ng-model="from_date"
										is-open="popup1.opened" 
										datepicker-options="dateOptions1"
										name="date" 
										ng-required="true" 
										close-text="Close" 
										alt-input-formats="altInputFormats" 
										ng-change="from_date_change(from_date)"
										required>
									<span class="input-group-btn">
										<button id="icon" type="button" class="btn btn-default btn-addon" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
				                </p>
				            </div>
				        </div>
						<div class="datefilter col-md-3" style="margin-top:-30px;">
							<span class="datefilter"><strong> To Date:</strong></span>
							<div id="datepicker-2" class="input-group date" style="margin-top:-30px;margin-bottom:0px !important;">
								<p class="input-group" style="width:100%;">
									<input type="text" class="simple-input" 
										uib-datepicker-popup="{{format1}}" 
										ng-model="to_date" 
										is-open="popup2.opened" 
										datepicker-options="dateOptions2"
										name="date" 
										ng-required="true" 
										close-text="Close" 
										alt-input-formats="altInputFormats" 
										ng-change="to_date_change(to_date)"
										required>
									<span class="input-group-btn">
										<button id="icon1" type="button" class="btn btn-default btn-addon" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
									</span>
			                    </p>
			                </div>
			            </div>
				    </div>   --><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px;position: relative;top: -34px"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Bookings</h3></div><div class="panel-body"><div class="statsBar"><div class="row"><div class="col-xs-12 col-md-4 i red"><a href="#" class="c" style="height: 41px"><div class="title" style="width: 52%;font-size: 16px; margin-bottom: -2px; top: -6px; position: relative">Trucks Requested</div><div class="num" ng-click="reroute_derivative('bookings_all_loads_trucks_requested')" style="position: relative;right: 12px">{{truck_details.all_loads_trucks_requested}}</div></a></div><div class="col-xs-12 col-md-4 i yellow"><a href="#" class="c" style="height: 41px"><h3 class="title" style="width: 52%; font-size: 16px; margin-bottom: -2px; top: -6px; position: relative">Trucks Placed</h3><div class="num" ng-click="reroute_derivative('bookings_all_loads_trucks_placed')" style="position: relative;right: 12px">{{truck_details.all_loads_trucks_placed}}</div></a></div><div class="col-xs-12 col-md-4 i green"><a href="#" class="c" style="height: 41px"><h3 class="title" style="width: 52%; font-size: 16px; margin-bottom: -2px; top: -6px; position: relative">Trucks Dispatched</h3><div class="num" ng-click="reroute_derivative('bookings_all_loads_trucks_dispatched')" style="position: relative;right: 12px">{{truck_details.all_loads_trucks_dispatched}}</div></a></div></div></div></div></div><div class="panel panel-primary" style="margin-top: -15px"><div class="panel-heading"><h3 class="panel-title">Lorry Receipts</h3></div><div class="panel-body" style="position:relative; margin-bottom:-22px"><div class="statsBar"><div class="col-lg-6 col-md-6" style="padding-right:24px; position:relative; top:-14px; left:-5px"><div class="row"><fieldset class="fsStyle"><legend class="legendStyle">Status</legend><div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 i blue" style="margin-bottom: -8px;position: relative;top: -10px"><a href="#" class="c" style="height: 41px"><h3 class="title" style="font-size: 16px;margin-bottom: -2px;top: -6px;position: relative">Dispatched</h3><div class="num" ng-click="reroute_derivative('lr_all_lorry_receipts_dispatched')">{{lr_details.all_lorry_receipts_dispatched}}</div></a></div><div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 i red" style="margin-bottom: 3px"><a href="#" class="c" style="height: 41px"><h3 class="title" style="font-size: 16px;margin-bottom: -2px;top: -6px;position: relative">In-Transit</h3><div class="num" ng-click="reroute_derivative('lr_all_lorry_receipts_in_transit')">{{lr_details.all_lorry_receipts_in_transit}}</div></a></div><div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 i yellow" style="margin-bottom: -6px"><a href="#" class="c" style="height: 41px"><h3 class="title" style="font-size: 16px;margin-bottom: -2px;top: -6px;position: relative">Delivered</h3><div class="num" ng-click="reroute_derivative('lr_all_lorry_receipts_delivered')">{{lr_details.all_lorry_receipts_delivered}}</div></a></div></fieldset></div></div><div class="col-lg-6 col-md-6" style="position:relative; top:-14px; left:-5px"><div class="row"><fieldset class="fsStyle"><legend class="legendStyle">Unconfirmed</legend><div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 i green" style="margin-bottom: -8px;position: relative;top: -10px"><a href="#" class="c" style="height: 41px"><h3 class="title" style="font-size: 16px; margin-bottom: -2px; top: -6px; position: relative">In-Transit</h3><div class="num" ng-click="reroute_derivative('lr_all_lorry_receipts_intransit_pending_confirmation')">{{lr_details.all_lorry_receipts_intransit_pending_confirmation}}</div></a></div><div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 i blue" style="margin-bottom: -9px"><a href="#" class="c" style="height: 41px"><h3 class="title" style="font-size: 16px; margin-bottom: -2px;top: -6px; position: relative">Delivered</h3><div class="num" ng-click="reroute_derivative('lr_all_lorry_receipts_delivered_pending_confirmation')">{{lr_details.all_lorry_receipts_delivered_pending_confirmation}}</div></a></div></fieldset><div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 i red" style="padding-right: 30px;padding-left: 30px;margin-top: -3px"><a href="#" class="c" style="height: 41px"><h3 class="title" style="font-size: 16px; margin-bottom: -2px; top: -6px; position: relative">Ready For Invoice</h3><div class="num" ng-click="reroute_derivative('lr_all_lorry_receipts_pending_invoicing')">{{lr_details.all_lorry_receipts_pending_invoicing}}</div></a></div></div></div></div></div></div><div class="panel panel-primary" ng-hide="user.user_type_choice == 'Branch Operations' || user.user_type_choice == 'Corporate Operations'" style="position: relative;top: -17px"><div class="panel-heading"><h3 class="panel-title">Invoices</h3></div><div class="panel-body" style="position:relative; margin-bottom: -60px"><div class="row"><div class="col-xs-12 col-sm-12 col-lg-4 col-md-4" style="position: relative; top: -5px"><div class="bgTitle" style="background-color: #ff4444; min-height: 0px;height: 34px"><h3 class="boxTitle" style="font-size: 16px; top: -13px;position: relative">Unbilled LRs</h3></div><div class="simpleList simpleListLighten" ng-click="reroute_derivative('invoice_total_unbilled_lr_amount')"><ul style="height: 150px"><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Number</span> <span class="pull-right info" ng-click="reroute_derivative('invoice_all_lorry_receipts_unbilled_total')">{{invoice_details.all_lorry_receipts_unbilled_total}}</span></a></li><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Amount</span> <span class="pull-right info">{{invoice_details.total_unbilled_lr_amount | IndianCurrency}}</span></a></li></ul></div></div><div class="col-xs-12 col-sm-12 col-lg-4 col-md-4" style="position: relative;top: -5px"><div class="bgTitle" style="background-color: #fec006; min-height: 0px;height: 34px"><h3 class="boxTitle" style="font-size: 16px;top: -13px;position: relative">Invoices Submission Due</h3></div><div class="simpleList simpleListLighten" ng-click="reroute_derivative('invoice_total_unsubmitted_invoice_amount')"><ul style="height: 150px"><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Number</span> <span class="pull-right info" ng-click="reroute_derivative('invoice_all_invoices_unsubmitted')">{{invoice_details.all_invoices_unsubmitted}}</span></a></li><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Amount</span> <span class="pull-right info">{{invoice_details.total_unsubmitted_invoice_amount | IndianCurrency}}</span></a></li></ul></div></div><div class="col-xs-12 col-sm-12 col-lg-4 col-md-4" style="position: relative;top: -5px"><div class="bgTitle" style="background-color: #8ac249; min-height:0px; height: 34px"><h3 class="boxTitle" style="font-size: 16px;top: -13px;position: relative">Invoices Submitted</h3></div><div class="simpleList simpleListLighten" ng-click="reroute_derivative('invoice_total_submitted_invoice_amount')"><ul style="height: 20vh"><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Number</span> <span class="pull-right info" ng-click="reroute_derivative('invoice_all_invoices_submitted')">{{invoice_details.all_invoices_submitted}}</span></a></li><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Amount</span> <span class="pull-right info">{{invoice_details.total_submitted_invoice_amount | IndianCurrency}}</span></a></li></ul></div></div></div><div class="row"><div class="col-xs-12 col-sm-12 col-lg-4 col-md-4" style="position: relative;top: -28px"><div class="bgTitle" style="background-color: #33b5e5; min-height: 0px;height: 34px"><h3 class="boxTitle" style="font-size: 16px;top: -13px;position: relative">Invoices Payment Received</h3></div><div class="simpleList simpleListLighten" ng-click="reroute_derivative('invoice_total_invoice_amount_recieved')"><ul style="height: 20vh"><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Number</span> <span class="pull-right info" ng-click="reroute_derivative('invoice_all_invoice_amount_payment_received')">{{invoice_details.all_invoice_amount_payment_received}}</span></a></li><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Amount</span> <span class="pull-right info">{{invoice_details.total_invoice_amount_recieved | IndianCurrency}}</span></a></li></ul></div></div><div class="col-xs-12 col-sm-12 col-lg-4 col-md-4" style="position: relative;top: -28px"><div class="bgTitle" style="background-color: #ff4444; min-height: 0px;height: 34px"><h3 class="boxTitle" style="font-size: 16px;top: -13px;position: relative">Invoices Pending Payment</h3></div><div class="simpleList simpleListLighten" ng-click="reroute_derivative('invoice_total_invoice_amount_pending_payment')"><ul style="height: 150px"><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Number</span> <span class="pull-right info" ng-click="reroute_derivative('invoice_all_invoices_receipts_pending_payment')">{{invoice_details.all_invoices_receipts_pending_payment}}</span></a></li><li><a href="#" class="clearfix" style="height: 27px"><span class="pull-left info">Amount</span> <span class="pull-right info">{{invoice_details.total_invoice_amount_pending_payment | IndianCurrency}}</span></a></li></ul></div></div></div></div></div></div></div></div></div></div></div><script type="text/ng-template" id="warning-dialog.html"><div class="modal-header">
        <h3>You're Idle. Do Something!</h3>
    </div>
    <div idle-countdown="countdown" ng-init="countdown=300" class="modal-body" style="padding-bottom: 50px;">
        <uib-progressbar max="5" value="5" animate="false" class="progress-striped active">You'll be logged out in {{countdown}} second(s).</uib-progressbar>
    </div></script><script type="text/ng-template" id="timedout-dialog.html"><div class="modal-header">
        <h3>You've Timed Out!</h3>
    </div>
    <div class="modal-body" style="padding-bottom: 50px;">
        <p>
          You were idle too long. You've been logged out.
        </p>
    </div></script><style type="text/css">.statsBar .i.red .c:hover{
		background:#CC0000;
	}
	.statsBar .i.red .c{
		background:#ff4444;		
	}
	.statsBar .i .c .num{
		font-size: 20px;
	}
	.statsBar .i.blue .c:hover{
		background:#0099CC;
	}
	.statsBar .i.blue .c{
		background:#33b5e5;		
	}
	.simpleList>ul{
		margin-bottom: -50px;
	}
	.simpleList.simpleListLighten>ul>li>a, .simpleList.simpleListLighten>ul>li>div{
		font-weight: 400;
		color:black;
	}
	.simpleList.simpleListLighten>ul>li>a>span hover{
		background:black;
	}
/*	.simple-input{
		margin:10px 0 30px 0 !important;
	}	*/</style>