<div class="pageContent extended" ui-view data-ng-init="tms_myaccountDets_init()"><div class="row"><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"><h1 class="pageTitle"><a>{{breadcrumb}}</a></h1><ol class="breadcrumb"><li><a href="/tms/transport/">Dashboard</a></li><li><a href="/tms/transport/my-account/">My Account</a></li><li class="active">{{breadcrumb}}</li></ol></div><!--     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-right">
        <h1 class="pageTitle">
            <a href="/tms/transport/1/edit_details/">
                <button class="btn btn-default bg-red">
                    Change Password
                </button>
            </a>
        </h1>
    </div> --><div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"><div class="box"><div class="pageContent"><div class="row"></div></div></div></div></div></div>