*{
	font-family: 'Source Sans Pro', sans-serif;
}
/* .no-padding{
	padding: 0;	
}

.card{
  background-color: #106cb6;
  color: white;padding: 20px;
  box-shadow: 0 0 4px 1px rgba(145, 149, 153, 0.15);
  padding: 20px 30px 20px 30px;
}
.card_detail{
  font-style: italic; 
  padding-left: 10px;
  font-size: 13px;
}
.card_header{
	font-size: 14px;
	margin-bottom: 15px;
	font-weight: 900;
}


.card_num{
  font-size: 40px;
  font-weight: bold;
}
.card_status{	
  margin-bottom: 6px;
   font-size: 12px;
  font-weight: bold;
}
.acti_header{
	font-size: 12px;
	font-weight: 300px;
}
.acti_details{
	font-size: 12px;
    color: #363f45;
    opacity: 0.5;
    font-weight: 700;
	text-transform: capitalize;
}
.acti-name{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	padding:5px 0px 5px 0px;
}
.acti-img{
	height:30px;
	margin-right: auto;
	margin-left: auto;
}
#dashboard_acti{
	padding:7px 10px 7px 10px;
} */
/* 
.upcoming_head{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 20px 30px 10px 30px;
	margin-bottom:25px;
}
.event-class{
	padding-left: 30px;
	padding-right: 30px;
	border-top: solid 2px rgba(54, 63, 69, 0.15); 		
}
.event-name{
	font-size: 14px;
	font-weight: bold;
	color: #363f45;
	margin: 0 0 5px 0;
}
.event_post_body{
	padding: 5px;
}
.event-description{
	font-size: 14px;
  color: #363f45;
}
.event-detail{
	    font-size: 12px;
    color: #363f45;
    opacity: 0.5;
    font-weight: 700;
    text-transform: capitalize;
}
.event-heading{
	 font-size: 12px;
  text-align: right;
  color: #363f45;
}
.event_post_heading{
	font-size: 14px;
	font-weight: bold;
	color: #3993da;
	margin-bottom: 5px;
	padding-bottom: 13px;
	padding-top: 13px;
	text-transform: capitalize;
	border-bottom :solid 1px rgba(54, 63, 69, 0.15);
} */

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  margin-bottom: 5px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.profile_heading{
	font-size: 18px;
  	font-weight: bold;
  	color: #106cb6;
	text-transform: uppercase;
	border-bottom:solid 1px rgba(54, 63, 69, 0.15);
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.profile-label{
	font-size: 18px;
  font-weight: bold;
  color: #363f45;
  padding: 0px;
  margin-bottom: 10px;
}
/* .panel-heading{
	padding: 5px 10px 10px 15px;
	border-bottom: solid 1px rgba(54, 63, 69, 0.15) !important;
}
.panel{
	border-bottom: solid 2px rgba(54, 63, 69, 0.15);
	padding: 10px 30px 15px 30px;
	margin-bottom: 0 !important;
}
.panel-body{
	padding: 30px 30px 0 30px;
	border: solid 1px rgba(54, 63, 69, 0.15);
	border-top: 0;
} */

.label-detail{
	font-size: 14px;
  	color: #363f45;
  	padding: 0;
  	margin-top: 0px;
  	margin-bottom: 45px;
}
/* .name-school:hover{
	background-color: #ffffff !important ;

}
.name-scholl:onclick{
	box-shadow: none !important ;
	border: none !important ;

}
.name-school:active{
	border: none !important ;
	box-shadow: none !important ;
}
.name-school:onmouseup{
	background-color: #ffffff !important ;
}
.name-school:onmouseout{
	background-color: #ffffff !important ;
} */

/*login styling starts*/
.rectangle{
  background-color: #ffffff;
  box-shadow: 0 0 61px 18px rgba(16, 107, 182, 0.89);
  margin: auto;
  padding:60px 70px 30px 70px;
  margin-top: 50px;}
#login{
	height: 95px;
}
/* #login_logo{

} */
#login_company{
	font-size: 36px;
	font-weight: bold;
	color: #363f45;
	padding:  25px 0 25px 0px;
	margin: 0;
}
/* #login_greet{
	margin-top: 24px;
	margin-bottom: 30px;
	font-size: 18px;
	font-weight: bold;
	color: #363f45;
} */
.simple-input{
	height: 40px;
	border: solid 1px rgba(54, 63, 69, 0.15);
	padding: 10px;
	margin:10px 0 30px 0;
	width: 100%;
	line-height: 40px;
}
.simple-input-label{
	height: 40px;
	margin:10px 0 20px 0;
	line-height: 40px;
}
.simple-input:focus{
	border: solid 1px rgba(54, 63, 69, 0.15);
}
.simple-input:onblur{
	border: solid 1px rgba(54, 63, 69, 0.15);
}

/*dashboard styles*/
.asideNavigation li{
	 /* color: white; */
	 color: #470909;
}

.asideNavigation > ul >li {
	border:none;
}
.asideNavigation > ul >li>i {
	opacity: 0.7;
}
.asideNavigation > ul >li>span {
	opacity: 0.7;
}
.vertical-aligned  {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* .both-aligned {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
} */

.line{
  border: solid 1px rgba(54, 63, 69, 0.15);
}
.brand-name{
	font-size: 22px;
  	font-weight: bold;
  	color: #363f45;
	text-transform: capitalize;
}
.bg-blu{
	background-color: #106cb6;
	color: white;
}

.uib-datepicker{
	overflow: scroll;
}
/*---------------*/
.close-modal{
	background-color: initial;
	border: initial;
	line-height: 27px;
}
.forgot-box{
	padding: 80px;
}
/*-----------------------------*/
.attendance-details{
  font-size: 14px;
  color: #363f45;
  margin-bottom: 10px;
}

.simpleList ul li a{
	color: white;

}
.simpleList ul li a .icon{
	color: #9da2a6;
}
/*-----------------------------*/

.message-date{
	font-size: 14px;
  font-weight: bold;
  color: #363f45 !important;
}
.no-data-error{
	margin-left:30px;
	font-size: 14px;
	color: #363f45;
	font-weight: bold;
	margin: 15px;

}
.tab-content{
	background-color: #fff !important;
	padding-top: 0 !important;
}
.nav-tabs{
	background-color: #fff !important;
	/*background-color: #161616;*/
}
.activity_date_heading{
  background-color: rgba(216, 216, 216,0.3);
  padding: 15px 31px 15px 31px;
  font-size: 14px;
  font-weight: bold;
  color: #363f45 !important;
  border: solid 1px rgba(54, 63, 69, 0.15);
  border-bottom: 0;
}
.activity_date_heading > span{

}
.activities_for_date{
  border: solid 1px rgba(54, 63, 69, 0.15);
  border-top: 0;
  padding: 30px;
  margin-bottom: 6px;
}
.message-body{
	border-bottom: solid 2px rgba(54, 63, 69, 0.1);
	padding: 30px;
	background-color: #ffffff;
    box-shadow: 0 0 4px 1px rgba(145, 149, 153, 0.15);	
    margin-bottom: 30px;
}
.loginContentWrap{
	/* background-image: url(../../images/group-13.jpg); */
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 100%;
}

.loginContentWrap form .btn{
	padding: 10px 0; ul
	font-size: 1.4rem;
}
#header .topNavigation>li button:focus, #header .topNavigation>li button:hover, #header .topNavigation>li>a:focus, #header .topNavigation>li>a:hover{
	background: transparent !important;
}


.approve-btn{
	 color: #6ab458;
	 border: 1px solid rgba(106, 180, 88,0.2);
	 border-radius: 50%;
	 background-color: rgba(106, 180, 88,0.2);
	 padding: 2px;
}
.edit-btn{
	 color: #106cb6;
	 border: 1px solid rgba(16, 108, 182,0.2);
	 border-radius: 50%;
	 background-color: rgba(16, 108, 182,0.2);
	 padding: 2px;
}
.delete-btn{
	 color: #ea2011;
	 border: 1px solid rgba(234, 32, 17,0.2);
	 border-radius: 50%;
	 background-color: rgba(234, 32, 17,0.2);
	 padding: 2px;
}
.table-head{
  background-color: #ededed;
}
.table-head > tr > th{
	text-transform: uppercase;
}
.table-head tr th {
	font-size: 14px;
  font-weight: bold;
  color: #363f45 !important;
}
.table{
	border: solid 1px rgba(54, 63, 69, 0.15) !important;
}
.btn-addon{
	top: -10px;
	background-color: #eee;
	
}

.table-body tr:hover{
	background-color: rgba(16, 107, 182, 0.1) !important;
}

.view-detail{
	font-size: 10px;
	color: #363f45;
	text-decoration: underline;
	opacity:0.7;
}





.pagination > li.active > a{
	background-color: #f04e4e;
}
.pagination{
	/*position: relative;*/
	/*top: -13px;*/
}
.pagination > li > a{
	height: 40px;
	width: 40px;
	padding: 5px;
}
.pagination > li > a > span{
	position: relative;
	top: -13px;
}
.pagination > li > a > i {
	top: -12px !important;
}


/*
----------------------------*/
.info-header{
	font-size: 18px;
	font-weight: bold;
	color: #106cb6;
	padding-bottom: 10px;
	border-bottom: solid 1px rgba(54, 63, 69, 0.15);
	text-transform: uppercase;
	margin-bottom: 15px;
}
.info-type{
	font-size: 18px;
	font-weight: bold;
	color: #363f45;
	text-transform: capitalize;
	padding: 0;
	margin-bottom:10px;
}
.info-fill{
	font-size: 14px;
	color: #363f45;
	text-transform: capitalize;
	padding: 0;
	margin-bottom: 45px;
}
.parent-card{
	border: solid 1px rgba(54, 63, 69, 0.15);
	padding:20px;
	margin-top: 20px;
	margin-bottom: 45px;
	height: auto;

}

.parent-card i{
	font-size: 65px;
}

.parent-detail-relation{
	font-size: 18px;
	font-weight: bold;
	color: #363f45;
}
.parent-detail{
	font-size: 14px;
  color: #363f45;
}
.no-margin{
	margin: 0;
}

.active_sidelink{
	color: white !important;
  	background-color:	rgba(255, 255, 255, 0.4);
  	border-left: 2px solid white;
  
}

.active_sidelink i{
	color: white !important;
	font-weight: 600 !important;
}
.active_sidelink span{
	color: white !important;
	font-weight: 600 !important;
}
.active_sidelink < li{
	border-left: 5px solid white;
}
.modal-box{
	 width: 491px;
	height: 216px;
	background-color: #ffffff;
	box-shadow: 0 0 4px 1px rgba(145, 149, 153, 0.15);
	padding: 30px;
}
.modal-heading{
	font-size: 28px;
	font-weight: bold;
	color: #363f45;
	margin-bottom: 30px; 
}
.modal-subheading{
	font-size: 16px;
	color: #363f45;
	margin-bottom: 20px;
	opacity: 0.8; 
}
.fix-padding-1{
	padding: 20px 30px 20px 30px !important;
}



.pageTitle{
	text-transform: capitalize;
}
.options{
	position: relative;
	top:6px;
}
.event-descrip{
	opacity: 0.9;
	font-size: 11px;
}
.event-timestamp{
    font-size: 12px;
    text-align: right;
    color: #363f45;
    opacity: 0.5;
    display: block;
    margin-top: 3%;
    font-weight: 700;

}
.fa-search{
	color: #f34235 !important;
}
.glyphicon-calendar{
	color: #f34235 !important;
}
.breadcrumb li a{
	color: #f34235 !important;
}
.simpleList>ul>li>a, 
.simpleList>ul>li>div{
	font-weight: 100;
}
.simpleList>ul>li>a:hover,.simpleList>ul>li>i:hover, 
.simpleList>ul>li>div:hover{
	color: #fff !important;
	background-color: rgba(255, 255, 255, 0.4);
}
.simpleList>ul{
	background-color: transparent !important;
}
.simpleList>ul .sub ul li{
	background-color: transparent;
    border-left: 1px solid rgba(245, 245, 245, 0.34);
    margin-left: 20px;
	width: 145px;
}
.simpleList>ul>li:hover div .icon{
	color: #fff !important;
}
.simpleList>ul .sub ul li a:hover{
	color: whitesmoke;
}
.nav-tabs>li.active>a {
    border-bottom: 2px solid #f34235 !important;
    color: #f34235 !important;
}
.zmdi-hc-fw{
	color: white !important;
}
.fa-calendar{
	color: #f34235 !important;
}
.profile_image_container{
	 height: 100px;
	 width: 100px;
	 overflow: hidden;
	 text-align: center;
	 border-radius: 50%;
}
.name-school>ul>li{
}
.name-school:click{
	 border: solid 1px rgba(54, 63, 69, 0.15);
}
.modal-footer{
	padding: 10px 30px 10px 30px;
}

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.onhover:hover{
	text-decoration: underline;
	cursor: pointer;
}
.pageTitle{
	margin-right: 50px;
}
.tags_list{
	list-style-type: none;
	padding: 0;
	height: auto;
	padding-top: 15px;
}
.activity-container{
	background-color: #f0f1f3;
	padding: 10px;
	margin-right: 15px;
	margin-bottom: 10px;
	display: inline;
	text-align: center;
}
.dropdown-menu{
	/*width: 200px !important;*/

	min-width: 100px !important;
	padding: 0 !important;
}
.dropdown-menu > li{
	/*max-width: 200px;*/
	margin: 0 !important;
}

.tagit-choice{
	background: #f0f1f5 !important;
    border-color: #f0f1f5 !important;
}
.text-icon{
	color:black;
}

.tagit-label{
	color: #363f45  !important;
	font-weight: 100;
	opacity: 0.8;
}
.ui-icon, .ui-widget-content .ui-icon,.ui-state-default .ui-icon{
	background-image: url(../../../bower_components/jquery-ui/themes/flick/images/ui-icons_454545_256x240.png) !important;
}
.dashboard_message_class{
	border-bottom: solid 1px rgba(54, 63, 69, 0.15);
	font-size: 14px;
	font-weight: bold;
	color: #3993da;
	padding: 10px 0 10px 0;
}
.dash-message-body{
	padding: 17px 0 17px 0;
	border-bottom: solid 1px rgba(54, 63, 69, 0.15);
}
.active_tab{
	background-color: #f04e4e;
	color: white !important;
}
button.close {
	-webkit-appearance: none !important;
	padding: 0 !important;
	cursor: pointer !important;
	background: 0 0 !important;
	border: 0 !important;
}


/* .modal-content {
    position: relative !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #999 !important; 
    border: 1px solid rgba(0,0,0,.2); 
    border-radius: 6px !important;
    outline: 0 !important;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5) !important;
}
.modal-body {
    position: relative !important;
    padding: 15px !important;
}*/
/*.datefilter{
	line-height: 60px !important;
}
.uib-datepicker-popup.dropdown-menu {
	display: block;
	float: none;
	margin: 0;
	width: 328px !important;
	height: 250px !important;
	left: -2px;
}
.btn.btn-sm {
	padding: 0px 7px !important;
}
.resize{
	margin-top:-28px
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}*/