.error_show{
	color: #E01919; font-size: 0.9em;
}
.success_show{
	color: #5cb85c; font-size: 0.9em;
}

.loader {
	border-radius: 100%;
    width: 120px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -100px;
}


.loading_div{
    background-color: rgba(103, 98, 98, 0.36);
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    z-index: 100000;
  }
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.pageTitle{
	margin : 10px 0px 25px 20px;
}
.breadcrumb{
	margin : -24px 0 10px 20px !important;
}
.box{
	margin : 0 0 100px 0px;
	padding : 20px;
}
.input_group{
	margin-bottom: 0px;
}
.boxHeadline+.boxHeadlineSub{
	margin-bottom:0px;
}
.simple-input{
	margin:0px !important;
}
.disabledNav{
	pointer-events:none;
	opacity:0.6;
}
.hyperLink_codezen{
	color:#4596d6; 
	text-decoration:underline;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltipText.bottomTooltiptext {
    width: 120px;
    top: 100%;
    left: 50%; 
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

fieldset.fsStyle {
	font-family: Verdana, Arial, sans-serif;
	font-size: small;
	font-weight: normal;
	border: 1px solid #999999;
	padding: 11px;
	margin: 5px;
}

legend.legendStyle {
	font-size: 150%;
	color: #888888;
	background-color: transparent;
	font-weight: bold;
	padding: 0px 10px;
}
legend {
	width: auto;
	border-bottom: 0px;
	margin-bottom: 0px !important;
}
.pageContent.extended{
	margin-top: 60px !important;
	margin-left: 180px;
}
.form-group{
	margin-bottom: 0px !important;
}
.panel-heading, .panel-body{
	padding : 10px 20px 10px 20px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	/*padding: 5px 25px;*/
	padding: 10px 10px;
}

.aside{
	position:fixed; 
	height:100%; 
	border-top:thin solid #DEDDDB; 
	opacity: 0.9; 
	background-image: linear-gradient(to bottom, #3993da, #106cb6);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 175px;
}

#specialAside{
	background-color:navy;
}
.simpleList>ul>li>a{
	padding: 5px 18px 5px 15px;
}

.simpleList>ul .sub #collapseMenuSettings ul  li a {
	padding-left:18px;
}
.simpleList > ul { 
	/*overflow-y:scroll;*/
	height:80vh;
}


#header{
	position:fixed; 
	width:100%; 
	background-color:#ffffff;
}

.btn-secondary{
    color:#fff;
    background-color: #868e96;
    border-color:#868e96;
}
.round{
    border-radius:20px;
}
.margin-correct{
    margin-top:0% !important;
}
.clearfix.nohover:hover{
    background-color:transparent;
    cursor:none;
    margin:0px;
}
.settingsMenu{
    border-left:thin #9da2a6 solid;
    border-right:thin #9da2a6 solid;
}
.headerLinksCodezen{
    color:#363f45;
    width:100%;
    font-size:18px;
    font-weight:400;
    text-transform:uppercase;
    opacity:0.7;
    box-shadow:none;
    /* margin-top:2px; */
    margin-bottom:-5px;
    padding-bottom:0px;
}
.headerLinksCodezen2{
    color:#363f45;
    width:100%;
    font-size:12px;
    font-weight:100;
    text-transform:uppercase;
    opacity:0.7;
    box-shadow:none;
    margin-top:-5px;
    padding-top:0px; 
}
.lastLoggedIn{
    color:#55595C;
    width:100%; 
    font-size:12px; 
    font-weight:300; 
    float:right; 
    margin:2px;
}
.buttonLogout{
    margin:2px !important;
    /* margin-top:-4px !important; */
    padding:4px !important;
    line-height:15px !important;
    color:red !important;
    /* color:#a6cad0 !important;  */
    /* #1ba0b5 */
    background-color:white !important;
    width:auto !important;
    height:auto !important;
    font-size:17px !important;
    font-weight:700 !important;
    text-transform:uppercase !important;
    /* border: 1px solid #C0C0C0 !important; */
    float:right;
}
#ensureLogoutVisible.btn.buttonLogout:hover{
    background-color:white !important;
}

#companyLogoPosition{
	text-align:left; 
	float:left; 
	position:relative;
	left: 15px
}

u.dotted{
	border-bottom: 1px dotted #000;
	text-decoration: none; 
	cursor: pointer;
}
#companyNamePosition{
	text-align:left; 
	float:left; 
	position:relative; 
	margin-top:5px;
	left: 30px;
}

.radiobuttons .carrier_red:checked+span:after{
	background:#cf5c4a !important;
}
.radiobuttons .carrier_red:checked+span{
	color:#cf5c4a !important;
}

.radiobuttons .demo{
	background:#cf5c4a !important;
}


.checkboxes .checkboxCodezen {
   background: red !important;
   color: red !important;
}


.labelCompanyInfo{
	width:150px;
	margin-top:7px;
	margin-bottom:0px;
	cursor:default;
	margin-right:5px;
	padding:0px;
	/* border:1px solid */
}
.labelThinner{
	font-weight: 300;
	width:200px;
	margin-top:7px;
	margin-bottom:5px;
	cursor:default;
	margin-right:5px;
	padding:0px;
}


.valueCompanyInfo{
	margin-top:5px;
	/* border:1px solid; */
	border:none;
	width:150px;
	background-color: white;
}
.valueCompanyTextAreaInfo{
	margin-top:5px;
	/* border:1px solid; */
	border:none;
	width:100%;
	height:auto;
	background-color: white;
}

.file-group{
	margin-bottom:20px;
	border:solid 1px hsla(203, 47%, 60%, 0.15);
	height:90px;
}
.file-edit-group{
	margin-bottom:20px;
	border:solid 1px rgba(54, 63, 69, 0.15);
	height:170px;
}

.traansportFileUploadButton{
	background-color:#363f45;
	line-height:15px;
	float:left;
	margin:2px;
	margin-left:7px;
}

.traansportFileUploadLabel{
	width:80%;
	height:35px;
	background-color:white;
	cursor:initial;
	margin:2px;
	font-weight:300;
	color:black;
	padding:0px;
	overflow:hidden;
}

/* Advances Tabs Styles */
.totalBar{
	line-height:30px;
	width:200px;
	/* width:fit-content; */
}

.redHighlight{
	background-color:red;
	border:1px dotted;
}

.yellowHighlight{
	background-color:yellow;
	border:1px dotted;
}

.greenHighlight{
	background-color:green;
	border:1px dotted;
}

.adv_requestButtonHighlight{
	background-color:yellowgreen;
	border:1px solid rgb(255, 115, 0);
}

.branchRangesButton{
	/* line-height:20px;  */
	/*width:155px; */
	font-size:15px; 
	margin:6px; 
	border:1px solid #C0C0C0;
	line-height: 26px;
}

.codezenFormButtons{
	line-height:20px; 
	width:100px; 
	font-size:15px; 
	margin:10px; 
	border:1px solid #C0C0C0;
}

.disputed_css{
   color:#cf5c4a !important;
}

.connected_links{
	color:#4596d6;
	text-decoration: underline;
}
.invoice_date_bold{
	font-weight: bold;
}

.alternate_row_color{
	background-color: #f8f8f8 !important;
}

/*.simpleList>ul>li.active div, .simpleList>ul>li.active>a, .simpleList>ul>li:hover div, .simpleList>ul>li:hover>a{
	
}
*/
.fontDashBoard{
	font-size:15px;
	font-style:normal;
}
.simpleList>ul>li.active div{
	background:rgba(255, 255, 255, 0.4);
}

.simpleList>ul .sub ul li a{
	padding: 6px 15px 6px 20px;
}

.inlineInputs{
	text-transform:uppercase;
	width:96px;  
	padding:10px; 
	position:relative; 
	display:inline;
}
.inlineInputsSpacing{
	text-transform:uppercase;
	width:2px;  
	padding:2px; 
	position:relative; 
	display:inline;
}

.simpleList>ul .sub ul li .active{
	background-color: rgba(255, 255, 255, 0.28);
	border-left: 3px solid whitesmoke;
}

#cityField_dropdown,#city_name_dropdown,#city_name1_dropdown,#city_name2_dropdown,#goods_hsn_dropdown,#pin_code_dropdown,#pin_code1_dropdown,#pin_code2_dropdown,#driverNameField_dropdown,#brokerCompanyField_dropdown,#truckNumberField_dropdown,#add_charge_dropdown,#edit_charge_dropdown,#customer_name_dropdown,#consignor_name_dropdown,#consignee_name_dropdown,#customer_search_global_dropdown,#from_city_dropdown,#to_city_dropdown,#goods_hsn_report_dropdown,#report_customer_name_dropdown{
    overflow-y: auto;
    max-height: 200px;
}

#goods_hsn_report_value,#report_customer_name_value{
	margin-bottom: 0px;
}

#truckNumberField_value{
	text-transform: uppercase;
}
#customer_search_global_value{
	height: 40px;
}
/*#city_name1_dropdown{
    overflow-y: auto;
    max-height: 200px; 
}
*/
@media (max-width: 991px){
	.asideNavigation>ul .sub ul{
		left : 0%;
	}
}


.title{
	display: inline-block;
	width: 50%;
}
.num{
	display: inline-block;
	width: 45%;
	text-align: right;
	position: relative;
	top: -5px;
}
.statsBar{
	margin-bottom: 0px;
}
.statsBar .i .c{
	padding:10px 10px 10px 10px;
}

.print_invoice_loader{
	position: fixed;
    top: 53%;
    left: 43%;
    color:#3993da;
     z-index: 100000;
/*  margin-left: -60px;
    margin-top: -100px;*/
    background-color: white;
    font-weight: 700;
    font-size: 16px;
}

.invoices_homepage{
	background:#2095f2;
	padding:8px 0px 2px 0px;
}


.statsBar .i.red .c:before {
    background: #ff3333;
}

.statsBar .i.blue .c:before {
    background: #1dade2;
}

/*.datefilter{
	line-height: 60px !important;
}
.uib-datepicker-popup.dropdown-menu {
	display: block;
	float: none;
	margin: 0;
	width: 240px !important;
	left: -2px;
}
.btn.btn-sm {
	padding: 0px 7px !important;
}
.resize{
	margin-top:-28px
}
.form-inline .form-control {
	display: inline-block;
	width: -webkit-fill-available;
	vertical-align: middle;
}
.ng-datepicker > .calendar > span:last-child > span.day {
	border-right: 1px solid #c4c4c4 !important;
}

.ng-datepicker > .calendar > span > span.day.disabled {
	border-left: 1px solid transparent !important;
	cursor: default !important;
	pointer-events: none !important;
}

.ng-datepicker > .calendar > span > span.day:hover {
	background: #ff5c5b !important;
	color: #fff !important;
}

.uib-datepicker-popup.dropdown-menu {
	display: block;
	float: none;
	margin: 0;
	width: 250px !important;
	left: -2px;
}
.btn.btn-sm {
	padding: 0px 7px !important;
}
.datepickermarginCSS{
	margin-top: -30 !important;
}
*/