<div ui-view data-ng-init="tms_reset_init()"><div style="background-color: #0071C1;height:100vh;overflow: scroll"><div class="container"><div class="row"><div class="rectangle" style="height:480px;width:500px"><div class="row signup-form"><div id="login_company" class="headingForSetPwd">Set New Password</div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><form role="form" name="myForm" ng-submit="reset_password(myForm)" autocomplete="off" novalidate><div class="form-group col-md-10 col-lg-10 col-lg-offset-1 col-sm-10"><span><b>New Password:</b></span> <input id="newPassID" type="password" name="new_password" ng-model="user.new_password" class="form-control down-space" placeholder="New Password" required><p ng-show="myForm.new_password.$invalid && myForm.submitted" class="help-block error_show">Please type the new password</p><span class="down-space"><b>Retype New Password:</b></span> <input id="reNewPassID" type="password" name="re_new_password" ng-model="user.re_new_password" class="form-control down-space" placeholder="Retype New Password" required><p ng-show="myForm.re_new_password.$invalid && myForm.submitted" class="help-block error_show">Please type the new password again</p></div><div class="form-group ta-center signup-link-wrap col-md-12 col-sm-12 col-xs-12" id="keyfunc" style="text-align: center"><button class="bg-green btn signup-btn">Set Password</button><!-- <button ng-if="state_name_navbar == 'SetPassword'" class="buttons_ btn signup-btn">Set</button> --></div></form></div></div></div></div></div></div></div><style type="text/css">.down-space{
        margin-top:2%;
        margin-bottom:3%;
    }
    .headingForSetPwd{
        /*max-width:80%;*/
    }</style>