<div class="pageWrap" data-ng-init="tms_search_init()"><div class="pageContent"><div class="row"><!-- <div class="pull-left col-md-6">
				<h1 class="pageTitle">
					<a>Search</a>
				</h1>

				<ol class="breadcrumb">
					<li>
						<a href="/tms/transport/search/">Search</a>
					</li>													
				</ol>
			</div>
		</div>
		<div class="box"> 
			<div class="pageWrap" >
				<div class="row"> --><form role="form" name="reports_form" ng-submit="submitReportForm(reports_form)" autocomplete="off" novalidate><div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="margin-bottom: 9px;font-size: 14px"><span>All fields marked with (*) are compulsory</span></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Search</h3></div><div class="panel-body"><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><div class="form-group col-sm-3 col-xs-3 col-md-4 col-lg-4" ng-class="{ 'has-error' : reports_form.reportRequested.$invalid && !reports_form.reportRequested.$pristine }" style="margin-left:-28px"><label for="reportRequest">Query<strong class="fa-lg" style="color:black">*</strong></label><select id="reportRequest" name="reportRequested" ng-model="history.requested_report" class="simple-input" ng-change="dropdown_report_change()" required style="background-color:white"><option value="">--Any--</option><option value="loadConfirmed">Load Confirmed</option><option value="trucksBooked">Trucks Booked</option><option value="lorryReceipts">Lorry Receipts</option><!-- <option ng-if="(user.user_type_choice =='Superuser' || user.user_type_choice == 'Branch Manager' || user.user_type_choice == 'Branch Operations and Commercials' || user.user_type_choice == 'Corporate Operations and Commercials')"  value="unbilled_lrs">Unbilled LRs</option> --><option ng-if="(user.user_type_choice =='Superuser' || user.user_type_choice == 'Branch Manager' || user.user_type_choice == 'Branch Operations and Commercials' || user.user_type_choice == 'Corporate Operations and Commercials')" value="invoices">Invoices</option></select><p ng-show="reports_form.reportRequested.$invalid && reports_form.submitted" class="help-block error_show">Select Report Type</p></div><div class="form-group col-sm-3 col-xs-3 col-md-6 col-lg-6"><label>{{history.type}} Number<strong class="fa-lg" style="color:black">*</strong></label><div class="input-group custom-search-form"><input type="text" class="simple-input" ng-model="search"> <span class="input-group-btn" ng-model="search" ng-click="get_search_report(search)"><button class="btn btn-default btn-addon" type="button" style="top:0"><i class="fa fa-search"></i></button></span></div></div></div></div></div></div></form><!-- </div> --><!-- <div class="row"> --><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="invoice_details.length"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Invoice Details</h3></div><div class="panel-body"><!-- 						<div ng-repeat="invoice in invoice_details">
							<a ng-if="invoice.invoice_no" href="/tms/transport/tinvoices/{{invoice.pk}}/billed-invoices/" style="color: #4596d6;text-decoration: underline;" target="_blank">{{invoice.invoice_no}}</a>
							<a ng-if="!invoice.invoice_no" href="/tms/transport/tinvoices/{{invoice.pk}}/billed-invoices/" style="color: #4596d6;text-decoration: underline;" target="_blank">Invoice No.(N.A.)</a>
						</div> --><div class="table-responsive" style="max-height: 745px"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align:left"><th ts-criteria="invoice_no">Invoice Number</th><th ts-criteria="invoice_amount">Invoice Amount</th><th ts-criteria="invoice_customer_name">Customer Name</th><th ts-criteria="invoice_customer_facility_name">Customer Facility</th><th ts-criteria="invoice_date">Creation Date</th><th ts-criteria="invoice_due_date">Submission Date</th><th ts-criteria="billing_branch.branch_name">Billing Branch</th><th ts-criteria="status">Status</th></tr></thead><tbody class="table-body"><tr ng-repeat="billedInvoices in invoice_details | orderBy: '-pk'" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class="{'disputed_css':billedInvoices.disputed == true}" ts-repeat ng-class-even="'alternate_row_color'"><td style="cursor:pointer" class="onhover"><a class="hyperLink_codezen" ng-class="{'disputed_css':billedInvoices.disputed == true}" href="/tms/transport/tinvoices/{{billedInvoices.pk}}/billed-invoices/">{{billedInvoices.invoice_no}}</a></td><td>{{billedInvoices.invoice_amount | IndianCurrency}}</td><td>{{billedInvoices.invoice_customer_name}}</td><td><div title="Address: {{billedInvoices.invoice_customer_facility_address}}&#10;City: {{billedInvoices.invoice_customer_facility_city.name}},{{billedInvoices.invoice_customer_facility_state.code}}&#10;Pincode: {{billedInvoices.invoice_customer_facility_pincode.pin_code}}"><u class="dotted">{{billedInvoices.invoice_customer_facility_name}}</u></div></td><td>{{billedInvoices.created_at | date:"dd-MMM-yyyy"}}</td><td ng-class="{'invoice_date_bold':billedInvoices.status == 'Submission Pending' || billedInvoices.status == 'Submission Pending Today' || billedInvoices.status == 'Payment Overdue' || billedInvoices.status == 'Submission Overdue'}">{{billedInvoices.invoice_date | date:"dd-MMM-yyyy"}}</td><td>{{billedInvoices.billing_branch.branch_name}}</td><td>{{billedInvoices.status}}</td></tr></tbody></table></div></div></div></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="lr_details.length"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">LR Details</h3></div><div class="panel-body"><!-- 						<div  ng-repeat="lr in lr_details">
							<div ng-if="lr.confirmed == false">
								<a ng-if="lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/" style="color: #4596d6;text-decoration: underline;" target="_blank">{{lr.lr_no}}</a>
								<a ng-if="!lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/" style="color: #4596d6;text-decoration: underline;" target="_blank">LR No.(N.A.)</a>
							</div>
							<div ng-if="lr.confirmed == true">
								<a ng-if="lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/verify-epod/" target="_blank" style="color: #4596d6;text-decoration: underline;">{{lr.lr_no}}</a>
								<a ng-if="!lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/verify-epod/" target="_blank" style="color: #4596d6;text-decoration: underline;">LR No.(N.A.)</a>
							</div>												
						</div> --><div class="table-responsive" style="max-height: 745px"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align: left;text-transform: capitalize"><th ts-criteria="lr_no">LR<br>Number</th><th ts-criteria="trip.truck_number">Truck<br>Number</th><th ts-criteria="dispatch_date_time">Dispatch<br>Date</th><th ts-criteria="lr_customer_name">Supplier/Consignor</th><th ts-criteria="lr_customer_name">Recipient/Consignee</th><th ts-criteria="lr_consignor_facility_city.name">From<br>City</th><th ts-criteria="lr_consignee_facility_city.name">To<br>City</th><th ts-criteria="transporter_office.branch_name">Booking Branch</th><th ts-criteria="status">Status</th></tr></thead><tbody class="table-body"><tr ng-repeat="lr in lr_details  | orderBy: '-pk'" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ts-repeat><td style="cursor: pointer" class="onhover"><!-- 											<div ng-if="lr.confirmed == false">
												<a ng-if="lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/" style="color: #4596d6;text-decoration: underline;" target="_blank">{{lr.lr_no}}</a>
												<a ng-if="!lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/" style="color: #4596d6;text-decoration: underline;" target="_blank">LR No.(N.A.)</a>
											</div>
											<div ng-if="lr.confirmed == true">
												<a ng-if="lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/verify-epod/" target="_blank" style="color: #4596d6;text-decoration: underline;">{{lr.lr_no}}</a>
												<a ng-if="!lr.lr_no" href="/tms/transport/lorry-receipt/{{lr.pk}}/verify-epod/" target="_blank" style="color: #4596d6;text-decoration: underline;">LR No.(N.A.)</a>
											</div> --> <a ng-if="lr.confirmed == false" href="/tms/transport/lorry-receipt/{{lr.pk}}/" style="color: #4596d6;text-decoration: underline">{{lr.lr_no}} </a><a ng-if="lr.confirmed == true" href="/tms/transport/lorry-receipt/{{lr.pk}}/verify-epod/" style="color: #4596d6;text-decoration: underline">{{lr.lr_no}}</a></td><td><div ng-if="lr.confirmed == false" title="Driver Name: {{lr.trip.driver_name}}&#10;Driver Mobile: {{lr.trip.driver_mobile}}"><u class="dotted">{{lr.trip.truck_number}}</u></div><div ng-if="lr.confirmed == true" title="Driver Name: {{lr.driver_name}}&#10;Driver Mobile: {{lr.driver_mobile}}"><u class="dotted">{{lr.truck_number}}</u></div></td><td><div title="Time: {{lr.dispatch_date_time | date:'h:mm a' }}"><u class="dotted">{{lr.dispatch_date_time | date:"dd-MMM-yyyy"}}</u></div></td><td>{{lr.lr_consignor_name}}</td><td>{{lr.lr_consignee_name}}</td><td>{{lr.lr_consignor_facility_city.name}}, {{lr.lr_consignor_facility_city.state.code}}</td><td>{{lr.lr_consignee_facility_city.name}}, {{lr.lr_consignee_facility_city.state.code}}</td><td><span>{{lr.transporter_office.branch_name}}</span></td><td>{{lr.status}}</td></tr></tbody></table></div></div></div></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="trip_details.length"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Trip Details</h3></div><div class="panel-body"><!-- 						<div  ng-repeat="trip in trip_details">
							<a ng-if="trip.vhc_no" href="/tms/transport/tbookings/{{trip.pk}}/edit-booked-truck/" target="_blank" style="color: #4596d6;text-decoration: underline;">{{trip.vhc_no}}</a>
							<a ng-if="!trip.vhc_no" href="/tms/transport/tbookings/{{trip.pk}}/edit-booked-truck/" target="_blank" style="color: #4596d6;text-decoration: underline;">Trip No.(N.A.)</a>							
						</div> --><!-- <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"> --><div class="table-responsive" style="max-height: 745px"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align: left;text-transform: capitalize"><th ts-criteria="vhc_no">VHC<br>Number</th><th ts-criteria="booked_load[0].request_number">Request Number</th><th ts-criteria="booked_load[0].customer_company_name">Customer Name</th><th ts-criteria="from_city.name">From City</th><th ts-criteria="to_city.name">To City</th><th ts-criteria="truck_number">Truck Details</th><th ts-criteria="fleet_service_provider_company">Broker Name</th><th ts-criteria="driver_name">Driver Name</th><th ts-criteria="booked_load[0].transporter_office.branch_name" ng-show="branch_pk =='All'">Booking<br>Branch</th><th ts-criteria="status">Status</th></tr></thead><tbody class="table-body"><tr ng-repeat="trip in trip_details | orderBy: '-pk'" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ts-repeat><td style="cursor: pointer" class="onhover"><a ng-if="trip.vhc_no" href="/tms/transport/tbookings/{{trip.pk}}/edit-booked-truck/" target="_blank" style="color: #4596d6;text-decoration: underline">{{trip.vhc_no}}</a> <a ng-if="!trip.vhc_no" href="/tms/transport/tbookings/{{trip.pk}}/edit-booked-truck/" target="_blank" style="color: #4596d6;text-decoration: underline">Trip No.(N.A.)</a></td><td><p style="cursor:pointer" class="onhover" ng-repeat="data_bookedLoad in trip.booked_load"><a class="hyperLink_codezen" href="/tms/transport/tbookings/{{data_bookedLoad.pk}}/edit-booked-load/">{{data_bookedLoad.request_number}}</a></p></td><td id="custName"><p ng-repeat="bookLoadObjects in trip.booked_load">{{bookLoadObjects.customer_company_name}}</p></td><td id="origin">{{trip.from_city.name}}, {{trip.from_city.state.code}}</td><td id="destination">{{trip.to_city.name}}, {{trip.to_city.state.code}}</td><!-- <td id="tlsName" style="cursor:pointer;" class="onhover">
										<a href="/tms/transport/tbookings/{{pk_load}}/edit-booked-load">{{bookTruck.tls.name}}</a>
									</td> --><td id="truckDetails"><div class="bottomTooltiptext" data-toggle="tooltip" data-placement="bottom" title=" Truck Type: {{trip.truck_type.name}}&#10;Body Type: {{trip.body_type.name}}" style="cursor:pointer; display:inline-flex"><u class="dotted">{{trip.truck_number | uppercase}}</u><!-- \n 	&#10; 	&#13; 		&lt;br&gt; 	 --></div></td><td id="brokerDetails"><div class="tooltiptext bottomTooltiptext" data-toggle="tooltip" data-placement="bottom" title=" Contact: {{trip.fleet_service_provider_name}}&#10;Mobile: {{trip.fleet_service_provider_mobile}}" style="cursor:pointer; display:inline-flex"><u class="dotted">{{trip.fleet_service_provider_company}}</u></div></td><td id="driverDetails"><div class="bottomTooltiptext" data-toggle="tooltip" data-placement="bottom" title=" Mobile: {{trip.driver_mobile}}" style="cursor:pointer; display: inline-flex"><u class="dotted">{{trip.driver_name}}</u></div></td><td ng-show="branch_pk =='All'"><p ng-repeat="bookLoadObjects in trip.booked_load">{{bookLoadObjects.transporter_office.branch_name}}</p></td><td>{{trip.status}}</td></tr></tbody></table></div></div><!-- </div> --></div></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-if="load_details.length"><div class="panel panel-primary"><div class="panel-heading"><h3 class="panel-title">Load Details</h3></div><div class="panel-body"><!-- 						<div ng-repeat="load in load_details">
							<a ng-if="load.request_number" href="/tms/transport/tbookings/{{load.pk}}/edit-booked-load/" target="_blank" style="color: #4596d6;text-decoration: underline;">{{load.request_number}}</a>
							<a ng-if="!load.request_number" href="/tms/transport/tbookings/{{load.pk}}/edit-booked-load/" target="_blank" style="color: #4596d6;text-decoration: underline;">Request No.(N.A.)</a>
						</div> --><div class="table-responsive" style="max-height: 745px"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align: left;text-transform: capitalize"><th ts-criteria="lr_no">Request<br>Number</th><th ts-criteria="customer_company_name">Customer<br>Name</th><th ts-criteria="consignor_facility_city.name">From<br>City</th><th ts-criteria="consignee_facility_city.name">To<br>City</th><th ts-criteria="number_of_trucks" style="text-align:left">Trucks<br>Requested</th><th ts-criteria="number_of_trucks_placed" style="text-align:left">Trucks<br>Placed</th><th ts-criteria="number_of_trucks_dispatched" style="text-align:left">Trucks<br>Dispatched</th><th ts-criteria="transporter_office.branch_name">Booking<br>Branch</th></tr></thead><tbody class="table-body"><tr ng-repeat="load in load_details | orderBy: '-pk'" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ts-repeat><td><!-- class="onhover" --> <a ng-if="load.request_number" href="/tms/transport/tbookings/{{load.pk}}/edit-booked-load/" target="_blank" style="color: #4596d6;text-decoration: underline">{{load.request_number}}</a> <a ng-if="!load.request_number" href="/tms/transport/tbookings/{{load.pk}}/edit-booked-load/" target="_blank" style="color: #4596d6;text-decoration: underline">Request No.(N.A.)</a><br><span style="font-size:10px">{{load.booking_date | date:"dd-MMM-yyyy"}}</span></td><td>{{load.customer_company_name}} <span title="{{load.customer_alert}}"><i class="fa fa-exclamation-circle" ng-if="load.customer_alert && (user.user_type_choice == 'Superuser' || user.user_type_choice =='Corporate Operations and Commercials' || user.user_type_choice =='Branch Manager' || user.user_type_choice =='Corporate Commercials')" aria-hidden="true" style="color: #cf5c4a;margin-left: 6px"></i> </span><!-- {{load.customer_facility_name}} --></td><td>{{load.consignor_facility_city.name}}, {{load.consignor_facility_state.code}}</td><td>{{load.consignee_facility_city.name}}, {{load.consignee_facility_state.code}}</td><td style="text-align:center">{{load.number_of_trucks}}</td><td style="cursor: pointer;text-align:center" class=""><a ng-if="load.number_of_trucks_placed == 0" href="" disabled="disabled">{{load.number_of_trucks_placed}}</a> <a class="hyperLink_codezen onhover" ng-if="load.number_of_trucks_placed > 0" href="/tms/transport/tbookings/p/booked-trucks/{{load.pk}}/">{{load.number_of_trucks_placed}}</a><!-- href="/tms/transport/tbookings/{{load.pk}}/booked-placed-trucks-by-loads/ --></td><td style="cursor: pointer;text-align:center" class=""><a ng-if="load.number_of_trucks_dispatched == 0" href="" disabled="disabled">{{load.number_of_trucks_dispatched}}</a> <a class="hyperLink_codezen onhover" ng-if="load.number_of_trucks_dispatched > 0" href="/tms/transport/tbookings/d/booked-trucks/{{load.pk}}/">{{load.number_of_trucks_dispatched}}</a><!-- href="/tms/transport/tbookings/{{load.pk}}/booked-dispatched-trucks-by-loads/" --></td><td>{{load.transporter_office.branch_name}}</td></tr></tbody></table></div></div></div></div></div></div></div><!-- 
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"> 
		<div class="panel panel-primary" >
			<div class="panel-heading"  > 
				<h3 class="panel-title">Invoice Details</h3> 
			</div>
			<div class="panel-body">
				</div>
			</div>
		</div>
	</div>
 -->