<div ui-view data-ng-init="tms_advances_outstandingAdvances_init()"><div class="row" ng-if="approve"><div class="col-sm-6 col-xs-6 col-md-6 col-lg-6"><h2 class="boxHeadline">All Advances</h2><h3 class="boxHeadlineSub">Total : {{count}}</h3></div><!-- <div class="col-sm-6 col-xs-6 col-md-3 col-lg-3">         
            <div angucomplete-alt id="customer_search_global" pause="100" selected-object="global_custFunc" remote-api-handler="searchCustomerAPI" remote-url-data-field="data" title-field="customer_company_name" description-field="customer_facility_address" minlength="2" input-class="form-control form-control-small" initial-value="custSearchSelected" match-class="highlight" placeholder="Customer" field-required="true" input-name = "city_name" style="height: 40px;margin-left: 2px;"></div>
        </div> --><div class="col-sm-12 col-xs-12 col-md-6 col-lg-6"><div class="input-group custom-search-form"><input type="text" class="simple-input" placeholder="Search..." ng-model="search"> <span class="input-group-btn" ng-model="search" style="padding-top: 10px"><button class="btn btn-default btn-addon" type="button"><i class="fa fa-search"></i></button></span></div></div><div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"><div class="table-responsive"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align: left"><th ts-criteria="trip.vhc_no">Trip ID</th><th ts-criteria="confirmed_trip_advances.net_advance_available">Net Advances</th><th ts-criteria="confirmed_trip_advances.gross_advance">Gross Advances</th><th ts-criteria="due_date">Due Date</th></tr></thead><tbody class="table-body" style="text-transform: capitalize"><tr ng-repeat="outstanding_advance in list_of_outstanding_advances | filter:search" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'" ts-repeat><td style="cursor: pointer" class="onhover"><a class="hyperLink_codezen" href="/tms/transport/tbookings/{{outstanding_advance.trip.pk}}/edit-booked-truck/">{{outstanding_advance.trip.vhc_no}} </a><a class="hyperLink_codezen" ng-if="!outstanding_advance.trip.vhc_no" href="/tms/transport/tbookings/{{outstanding_advance.trip.pk}}/edit-booked-truck/">Not Available</a></td><td title="Interest Charge : {{outstanding_advance.interest_amount  | IndianCurrency}}&#10;Processing Charges : {{outstanding_advance.processing_charge  | IndianCurrency}}&#10;GST : {{outstanding_advance.tax_amount  | IndianCurrency}}"><u class="dotted">{{outstanding_advance.dispersed_amount | IndianCurrency}}</u></td><td>{{outstanding_advance.gross_advance | IndianCurrency}}</td><!-- 	<td>
                        	   {{advances.advance_payable}}
                        	</td> --><td>{{outstanding_advance.due_date | date:"dd-MMM-yyyy"}}</td></tr></tbody></table></div></div></div><div ng-if="!approve" class="col-sm-12 col-xs-12 col-md-12 col-lg-12" style="text-align: center"><span style="font-size: 16px">You are unauthorized to view Advances Secton</span></div></div><div class="col-lg-10" style="background-color: rgb(255, 255, 255);position:fixed; display:block;border-top:1px solid #e6e7ed;border-bottom: 1px solid #e6e7ed;bottom: 18px"><div style="margin-top: 10px;margin-bottom: 10px"><span><strong>Total Advances Due: {{due_amount | IndianCurrency }}</strong></span><br><span><strong>Total Advances Due Tomorrow : {{due_amount_tomorrow | IndianCurrency }}</strong></span><br><span><strong>Total Advances Due Today : {{due_amount_today | IndianCurrency }}</strong></span></div></div><!-- <div style="align-content:center; ">
        	<div class="info-type">
        		<b>Total Advances Due</b>
        	</div>
        	<div class="info-fill">
        		7494958
        	</div>
        </div>
        <div style="align-content:center; ">
        	<div class="info-type">
        		<b>Total Advances Due Tomorrow</b>
        	</div>
        	<div class="info-fill">
        		7494958
        	</div>
        </div>
        <div style="align-content:center; ">
        	<div class="info-type">
        		<b>Total Advances Due Today</b>
        	</div>
        	<div class="info-fill">
        		7494958
        	</div>
        </div> --><!--  <hr>
        <div class="info">
            <label class="totalBar" > Total Advances Due </label>
            <label id="advancesDueTotal" class="totalBar greenHighlight"> ... </label> <br/>
            <label class="totalBar"> Total Advances Tomorrow </label>
            <label id="advancesDueTotalTomorrow" class="totalBar yellowHighlight"> ... </label> <br/>
            <label class="totalBar"> Total Advances Today </label>
            <label id="advancesDueTotalToday" class="totalBar redHighlight"> ...  </label> <br/>
        </div> --><!-- <button class="btn btn-xs bg-gray" data-toggle="modal" data-target="#existing_invoice" type="cancel" style="margin-right:106px; float:right; margin-top:14px; margin-bottom:14px; line-height:31px;"> 
            Total Advances Due
        </button>
        <button class="btn btn-xs btn-primary" type="submit" data-toggle="modal" data-target="#create_invoice" style="margin-right:24px; float:right; margin-top:14px; margin-bottom:14px; line-height:31px;">
            Total Advances Due Tomorrow
        </button>
        <span class="col-md-2" style="float: right;margin-top: 20px;"><strong>Total Sum : {{total | currency:"&#8377; "}}</strong></span>
         --><!--     </div>
</div>       --><!-- <style>
    .totalBar{
        line-height:30px;
        width:200px;
    }
    .redHighlight{
        background-color:red;
        border:1px dotted;
    }
    .yellowHighlight{
        background-color:yellow;
        border:1px dotted;
    }
</style> -->