<div ui-view data-ng-init="tms_advances_accountStatement_init()"><div class="row"><div class="col-sm-6 col-xs-6 col-md-3 col-lg-3"><h2 class="boxHeadline">All Statements</h2><h3 class="boxHeadlineSub">Total : {{count}}</h3></div><div class="col-sm-6 col-xs-6 col-md-3 col-lg-3"><div angucomplete-alt id="customer_search_global" pause="100" selected-object="global_custFunc" remote-api-handler="searchCustomerAPI" remote-url-data-field="data" title-field="customer_company_name" description-field="customer_facility_address" minlength="2" input-class="form-control form-control-small" initial-value="custSearchSelected" match-class="highlight" placeholder="Customer" field-required="true" input-name="city_name" style="height: 40px;margin-left: 2px"></div></div><div class="col-sm-12 col-xs-12 col-md-6 col-lg-6"><div class="input-group custom-search-form"><input type="text" class="simple-input" placeholder="Search..." ng-model="search"> <span class="input-group-btn" ng-model="search" style="padding-top: 10px"><button class="btn btn-default btn-addon" type="button"><i class="fa fa-search"></i></button></span></div></div><div class="col-sm-12 col-xs-12 col-md-12 col-lg-12"><div class="table-responsive"><table class="table" ts-wrapper ts-no-data-text="No records to display..."><thead class="table-head"><tr style="text-align: left"><th ts-criteria="">S.N</th><th ts-criteria="">LR</th><th ts-criteria="">Net Advances Offered</th><th ts-criteria="">Advance Payable</th><th ts-criteria="">Payable Date</th></tr></thead><tbody class="table-body" style="text-transform: capitalize"><tr ng-repeat="adv in advances" ng-mouseenter="view=true" ng-mouseleave="view=false" ng-class-even="'alternate_row_color'"><td>{{adv.id}}</td><td>{{adv.lr.lr_no}}<br>{{adv.created_at | date:"MM/dd/yyyy"}}<br>{{adv.created_at | date:"h:mma"}}</td><td>{{adv.net_advance_offered}}</td><td>{{adv.advance_payable}}</td><td>{{adv.payable_date}}</td></tr></tbody></table></div></div></div></div><!-- 	<div style="align-content:center; ">
		<div class="info-type">
			<b>Total Advances Due</b>
		</div>
		<div class="info-fill">
			7494958
		</div>
	</div>
 </div>	
<div style="align-content:center; ">
	<div class="info-type">
		<b>Total Advances Due Tomorrow</b>
	</div>
	<div class="info-fill">
		7494958
	</div>
</div>
<div style="align-content:center; ">
	<div class="info-type">
		<b>Total Advances Due Today</b>
	</div>
	<div class="info-fill">
		7494958
	</div>
</div>	    	    		    
 -->