<script src="website/website.js"></script><link rel="stylesheet" href="website/website.css"><div ui-view><div class="traansportBgColor" style="background-color: #fff; height:100vh"><header style="background-color: #0071C1"><div class="pageWrap"><div class="row"><div class="col-md-3 col-lg-3 col-sm-4 col-xs-4" style="margin-left: 0px"><img src="../../images/Traansport.png" id="logo" alt="" style="height: 90px"></div><div class="hidden-md hidden-lg dropdown pull-right" style="margin-right:20px"><button class="dropbtn pull-right" type="button" id="menu1" data-toggle="dropdown"><i class="zmdi-hc-fw fa-2x fa fa-bars"></i></button><div class="dropdown-content popposition"><div style="margin: 10px"></div><div><a ui-sref="TmsLogin">Transporters' Login</a></div><div><a ui-sref="Register">Registration</a></div><div><a ui-sref="#">Terms of Use</a></div><div><a ui-sref="#">Privacy Policy</a></div><div style="margin: 10px"></div></div></div><div class="hidden-xs hidden-sm"><div class="nav-bar-wrapper"><ul><li><a href="#about-section">ABOUT US</a></li><li><a href="#contact-section">CONTACT US</a></li><li><a href="https://play.google.com/store/apps/details?id=com.freighttiger.ftiger&amp;hl=en&amp;utm_source=global_co&amp;utm_medium=prtnr&amp;utm_content=Mar2515&amp;utm_campaign=PartBadge&amp;pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"><img style="width: 110px;height: 43px" alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"></a></li><li><button class="login" type="button" id="myBtn">Login</button></li></ul></div></div></div></div></header><div class="about_us"><div class="content">Logistics in India is a $230 billion industry, with road transport constituting a third of the market. Over 10 million goods carriers deliver over 1,700 billion tonnes/KM of freight throughout the country annually, contributing 4-5% to the national GDP. Despite its veritable importance to the Indian economy, the trucking business is riddled with certain long-standing systemic concerns: lack of technology adoption restricting supply chain control, substantial information asymmetry, frequent asset under-utilization, and lack of skilled driving personnel.<br><br>Traansport endeavors to be a technology partner to all actors involved in the road transport space in India by providing an operations management platform built for the specific demands of the trucking industry. Through our platform, transporters and brokers get to deploy quality trucks and skilled drivers for safe and timely delivery of goods, while shippers gain supply chain control.</div></div><footer><!-- Map Location http://bit.ly/2wx5lGA --><div class="pull-right" style="margin-left:20px; margin-bottom:12px"><!-- <label for="DELETE"> xxx provide fonts for this </label> --><label for="traansport" style="overflow:scroll; font-size:18px; color:#E7F5FF">TRAANSPORT.COM TECHNOLOGY AND SERVICES PRIVATE LIMITED</label><label for="traansportLoc" style="font-size:12px; color:#E7F5FF">304 &nbsp;&nbsp;| &nbsp;&nbsp; Third &nbsp; Floor &nbsp;&nbsp; | &nbsp;&nbsp; Kakad &nbsp; Chambers &nbsp;&nbsp; | &nbsp;&nbsp; 132 &nbsp; Dr. &nbsp; Annie &nbsp; Besant &nbsp; Road &nbsp;&nbsp; | &nbsp;&nbsp; Worli &nbsp;&nbsp; | &nbsp;&nbsp; Mumbai &nbsp;&nbsp; | &nbsp;&nbsp; 400 018</label><label for="traansportRegContact" style="font-size:12px; color:#BFE2FF" class="pull-left">C&nbsp;I&nbsp;N&nbsp;: U&nbsp;6&nbsp;3&nbsp;0&nbsp;3&nbsp;0&nbsp;M&nbsp;H&nbsp;2&nbsp;0&nbsp;1&nbsp;6&nbsp;P&nbsp;T&nbsp;C&nbsp;2&nbsp;8&nbsp;2&nbsp;8&nbsp;6&nbsp;9&nbsp; &nbsp;&nbsp; | &nbsp;&nbsp; Tel: &nbsp;+91&nbsp;-&nbsp;98&nbsp;-&nbsp;2105&nbsp;-&nbsp;5476 &nbsp;&nbsp; | &nbsp;&nbsp; Email:&nbsp; pratik&nbsp;@&nbsp;traansport.com</label></div></footer></div></div><!-- color: #87C8F3 --><div id="redirectBox" class="modal fade" role="dialog" ng-controller="Home"><div class="modal-dialog"><!-- Modal content--><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button><div><h4 class="modal-title" ng-repeat="message in message_to_show">{{message}}</h4></div></div></div></div></div><style>.popposition {
		display: none;
		border-radius: 20px;
		border: 2px solid #ffffff;
		background-color: #0070C0;
		cursor: pointer; 
		text-shadow: 5px;
		float: left;
	}
	.poppositionsmallscreen {
		display: none;
		border-radius: 20px;
		border: 2px solid #ffffff;
		background-color: #0070C0;
		cursor: pointer; 
		text-shadow: 5px;
		margin-top:42px;
	}
	
	.dropbtn {
		background-color: #0070C0;
		color: white;
		padding: 5px;
		font-size: 16px;
		cursor: pointer;
		border: 2px solid #ffffff;
		border-radius: 10px;
	}
	.dropdown {
		position: relative;
		display: inline-block;
		opacity: 1;
		margin-top:20px;
		/*margin-right:20px;*/
		/*padding: 20px;    */
	}
	.dropdown-content {
		display: none;
		position: absolute;
		/*background-color: #f9f9f9;*/	
		min-width: 200px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 1;
		left: -200px;
	}
	.dropdown-content a {
		color: white;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	.dropdown-content a:hover {
		background-color: #000d33;
		border:1px solid; 
		border-color: white;
	
	}
	.dropdown:hover .dropdown-content {
		display:block;
	}
	.dropdown:hover .dropbtn {
		background-color: #0070C0;
	}

	footer{
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.about_us{
		position: relative;
		top: 15%; 
		width: 80%;
		color:#E7F5FF;
		text-align: justify;
	}
	.content{
		margin-left:20px; 
		margin-bottom:12px;
		font-size:18px;
		height: 300px;
		overflow-y: scroll; 
	}
	@media (max-width:900px)  {
		.about_us{
			top: 8%; 
			width: 100%;
		}
		.content{
			font-size: 14px;
		}
	}</style>