.verticalMiddle{
    position:relative;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%)}.bold{font-weight:700}.relative{position:relative}.absolute{position:absolute}.uppercase{text-transform:uppercase}.unselectable{-webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;user-select:none}.text-gray{color:#363f45}.text-light-gray{color:#919599}.text-orange{color:#fe5621}.text-green{color:#4bae4f}.text-blue{color:#3e50b4}.text-yellow{color:#fec006}.text-white{color:#fff}html{height:100%}body{min-height:100%;
    background:#ebecf2}body{font-size:14px;
        font-size:1.4rem;color:#363f45;
        font-family:'Source Sans Pro',sans-serif;
        -webkit-font-smoothing:antialiased;
        position:relative}a{color:#363f45;
            text-decoration:none;
            transition: all .3s ease;
            -webkit-transition:all .3s ease;
            -moz-transition:all .3s ease;
            -ms-transition:all .3s ease;
            -o-transition:all .3s ease}a:active,a:focus,a:hover{outline:0;
            text-decoration:none;color:#363f45}.pageWrap{position:relative;
            height:100%}.pageContent{margin:0 12px 0 12px}.pageContent>.container{margin:0}.pageContent.extended{margin:0 12px 0 222px}.m-t-30{margin-top:30px!important}.m-b-10{margin-bottom:10px!important}.m-b-5{margin-bottom:5px!important}#header{background:#363f45;color:#fff;
                min-height:60px;position:relative;z-index:5}#header .logo{position:absolute;left:0;top:0;margin:0 0 0 20px;
                    line-height:58px;font-size:22px;font-size:2.2rem;text-transform:uppercase;font-weight:400}#header .logo span{font-weight:700}#header .logo a{color:#fff}#header .logo .icon{font-size:12px;font-size:1.2rem;position:relative;top:-3px;
                        margin:0 12px 0 0}#header .logo .icon:before{width:28px;text-align:center}#header .topNavigation{padding:0;margin:0;text-align:right}#header .topNavigation>li{list-style-type:none;padding:10px 0;display:inline-block}#header .topNavigation>li>.btn-group{vertical-align:middle}#header .topNavigation>li button,#header .topNavigation>li>a{color:#fff;display:inline-block;width:40px;height:40px;text-align:center;
                            padding:0;margin:0;vertical-align:middle;position:relative}#header .topNavigation>li button .icon,#header .topNavigation>li>a .icon{font-size:24px;font-size:2.4rem;line-height:40px}#header .topNavigation>li button .badge,#header .topNavigation>li>a .badge{position:absolute;top:0;right:0}#header .topNavigation>li button:focus,#header .topNavigation>li button:hover,#header .topNavigation>li>a:focus,#header .topNavigation>li>a:hover{background:#485056}#header .topNavigation>li .dropdown-menu{min-width:310px}#header .topNavigation>li .dropdown-menu li{margin:0}#header .topNavigation .messages>ul>li>a,#header .topNavigation .messages>ul>li>div{padding:10px}.pageTitle{font-size:18px;font-size:1.8rem;font-weight:700;margin:30px;text-transform:uppercase}.row+.pageTitle{margin:6px 30px 30px 30px}.boxHeadline{margin:0 0 25px 0;font-size:18px;font-size:1.8rem}.boxHeadline+.boxHeadlineSub{margin:-18px 0 30px 0}.boxHeader .boxTitle{margin:22px 0 20px 30px}.boxHeader .boxHeaderOptions{margin:9px 12px 0 0}.boxHeader .boxHeaderOptions .btn{color:#9da2a6;padding:0;width:40px;height:40px;line-height:42px;text-align:center;font-size:24px;font-size:2.4rem}.boxHeader .boxHeaderOptions .btn:active,.boxHeader .boxHeaderOptions .btn:focus,.boxHeader .boxHeaderOptions .btn:hover{background:#f2f9ff;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.boxHeader.pageBoxHeader .boxHeaderOptions{margin:20px 12px 0 0}.boxHeader.boxHeaderBorders{border-bottom:1px solid #e6e7ed}.boxHeader.box{padding:30px}.boxHeader.box .pageTitle{margin:0 0 6px 0}.boxHeader.box .pageTitle+.breadcrumb{margin:0}.boxTitle{font-size:14px;font-size:1.4rem;font-weight:700;text-transform:uppercase;margin:0 0 25px 0}.boxHeadlineSub{font-size:14px;font-size:1.4rem;font-weight:400;font-style:italic;color:#919599;margin:0 0 25px 0;line-height:18px}.boxHeadlineSub a{color:#fe5621}.bgTitle{background:url(../../img/bg-sharpen.jpg) no-repeat;background-size:100% 100%}.bgTitle .boxTitle{margin:0;padding:22px 30px;color:#fff}.box{background:#fff;padding:30px;margin:0 0 24px 0}.box.box-without-padding{padding:0}.box.box-without-sidepadding{padding:8px 0}.box.box-without-sidepadding .boxTitle{margin-left:30px}.box.box-without-bottom-padding{padding-bottom:0}.box .tableWrap{margin:0 -30px}.box .table-responsive{width:auto}.box .panel-group:last-of-type{margin-bottom:0}.side-padding-25{padding:0 25px}.side-padding-30{padding:0 30px}.statsBar{margin-bottom:25px}.statsBar .i .c{display:block;color:#fff;padding:30px 30px 20px 30px;position:relative}.statsBar .i .c .title{margin:0 0 5px 0;font-size:16px;font-size:1.6rem;font-weight:400;text-transform:uppercase}.statsBar .i .c .num{font-size:30px;font-size:3rem;font-weight:700}.statsBar .i .c .icon,.statsBar .i .c:before{width:110px}.statsBar .i .c:before{content:'';height:100%;position:absolute;right:0;top:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.statsBar .i .c .icon{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-family:Material-Design-Iconic-Font;position:absolute;right:0;text-align:center;font-size:40px;font-size:4rem}.statsBar .i.yellow .c{background:#fec006}.statsBar .i.yellow .c:before{background:#f1b606}.statsBar .i.yellow .c:hover{background:#f1b606}.statsBar .i.yellow .c:hover:before{background:#fec006}.statsBar .i.pink .c{background:#e81d62}.statsBar .i.pink .c:before{background:#dc1c5d}.statsBar .i.pink .c:hover{background:#dc1c5d}.statsBar .i.pink .c:hover:before{background:#e81d62}.statsBar .i.green .c{background:#8ac249}.statsBar .i.green .c:before{background:#83b845}.statsBar .i.green .c:hover{background:#83b845}.statsBar .i.green .c:hover:before{background:#8ac249}.statsInfo{border-top:1px solid #e6e7ed;margin:25px 0 0 0;padding-top:25px}.statsInfo .i{padding:0;text-align:center}.statsInfo .i .count{font-size:30px;font-size:3rem;font-weight:700}.statsInfo .i .text{color:#919599}.statsInfo .i:first-child{border-right:1px solid #e6e7ed}.ct-pie-chart .box{padding-top:25px}.ct-pie-chart .text{border-top:1px solid #e6e7ed;margin-top:-28%;text-transform:uppercase;text-align:center;padding:18px 0;font-size:16px;font-size:1.6rem}.ct-pie-chart .info{position:absolute;top:32%;left:0;text-align:center;width:100%;font-size:16px;font-size:1.6rem}.ct-pie-chart .info span{display:block;font-size:30px;font-size:3rem;font-weight:700;line-height:32px}.ct-pie-chart .ct-series-b .ct-bar,.ct-pie-chart .ct-series-b .ct-line,.ct-pie-chart .ct-series-b .ct-point,.ct-pie-chart .ct-series-b .ct-slice-donut{stroke:#ebecf2}.ct-pie-chart #ct-chart-1 .ct-series-a .ct-bar,.ct-pie-chart #ct-chart-1 .ct-series-a .ct-line,.ct-pie-chart #ct-chart-1 .ct-series-a .ct-point,.ct-pie-chart #ct-chart-1 .ct-series-a .ct-slice-donut{stroke:#6639b6}.ct-pie-chart #ct-chart-2 .ct-series-a .ct-bar,.ct-pie-chart #ct-chart-2 .ct-series-a .ct-line,.ct-pie-chart #ct-chart-2 .ct-series-a .ct-point,.ct-pie-chart #ct-chart-2 .ct-series-a .ct-slice-donut{stroke:#feea3a}.recentTasks .checkboxes.checkboxes-sm .i{margin:0;border-top:1px solid #e6e7ed}.recentTasks .checkboxes.checkboxes-sm input[type=checkbox]+span{padding:20px 60px 18px 30px}.recentTasks .checkboxes.checkboxes-sm input[type=checkbox]+span:before{left:auto;right:30px;top:22px}.recentTasks .checkboxes.checkboxes-sm input[type=checkbox]:checked+span{background:#e1f5e3}.recentTasks .checkboxes.checkboxes-sm label{margin:0}.recentTasks .checkboxes.checkboxes-sm label span{margin:0}#donut-chart svg{display:block;margin:0 auto}#donut-chart text{font-family:'Source Sans Pro',sans-serif!important}.line-chart-wrap{height:177px;color:#fff;overflow:hidden}.line-chart-wrap svg{width:100%!important}.line-chart-wrap .boxHeader .boxHeaderOptions .btn{color:#fff}.line-chart-wrap .boxHeader .boxHeaderOptions .btn:active,.line-chart-wrap .boxHeader .boxHeaderOptions .btn:focus,.line-chart-wrap .boxHeader .boxHeaderOptions .btn:hover{background:rgba(0,0,0,.1)}.line-chart-wrap .boxHeader .boxTitle{margin:22px 0 12px 30px}.line-chart-wrap .stats{padding-left:30px}.line-chart-wrap .stats .count{font-size:40px;font-size:4rem;font-weight:700;line-height:30px}.line-chart-wrap .stats .info{line-height:normal;margin:0 0 0 8px}#line-chart-1-wrap{background:#2095f2}#line-chart-2-wrap{background:#5f7c8a}.line-chart .morris-hover{position:absolute;z-index:1000}.line-chart .morris-hover.morris-default-style{padding:2px 5px;color:#fff;background:rgba(0,0,0,.7);font-size:13px;text-align:center;font-style:italic}.line-chart .morris-hover.morris-default-style .count{font-style:normal;font-weight:700}.custom-chartist-colors .ct-series-a .ct-bar,.custom-chartist-colors .ct-series-a .ct-line,.custom-chartist-colors .ct-series-a .ct-point,.custom-chartist-colors .ct-series-a .ct-slice-donut{stroke:#fe5621}.custom-chartist-colors .ct-series-b .ct-bar,.custom-chartist-colors .ct-series-b .ct-line,.custom-chartist-colors .ct-series-b .ct-point,.custom-chartist-colors .ct-series-b .ct-slice-donut{stroke:#02a8f3}.custom-chartist-colors .ct-series-c .ct-bar,.custom-chartist-colors .ct-series-c .ct-line,.custom-chartist-colors .ct-series-c .ct-point,.custom-chartist-colors .ct-series-c .ct-slice-donut{stroke:#ccdb38}.custom-chartist-colors .ct-series-d .ct-bar,.custom-chartist-colors .ct-series-d .ct-line,.custom-chartist-colors .ct-series-d .ct-point,.custom-chartist-colors .ct-series-d .ct-slice-donut{stroke:#feea3a}.custom-chartist-colors .ct-series-a .ct-area,.custom-chartist-colors .ct-series-a .ct-slice-pie{fill:#fe5621}.custom-chartist-colors .ct-series-b .ct-area,.custom-chartist-colors .ct-series-b .ct-slice-pie{fill:#02a8f3}.custom-chartist-colors .ct-series-c .ct-area,.custom-chartist-colors .ct-series-c .ct-slice-pie{fill:#ccdb38}.rte blockquote:last-of-type,.rte ol:last-of-type,.rte p:last-of-type,.rte table:last-of-type,.rte ul:last-of-type{margin:0}.rte p{margin:0 0 30px 0;line-height:21px}.rte a{color:#fe5621}.rte a.text-light-gray{color:#919599}.rte a.text-light-gray:hover{color:#fe5621}.rte a.text-gray{color:#363f45}.rte a.text-gray:hover{color:#fe5621}.rte h1,.rte h2,.rte h3,.rte h4,.rte h5,.rte h6{font-weight:700;margin:40px 0 30px 0}.rte h1{font-size:32px;font-size:3.2rem}.rte h2{font-size:28px;font-size:2.8rem}.rte h3{font-size:24px;font-size:2.4rem}.rte h4{font-size:20px;font-size:2rem}.rte h5{font-size:16px;font-size:1.6rem}.rte h6{font-size:14px;font-size:1.4rem}.rte ol,.rte ul{margin:0 0 30px 0;padding:0}.rte ol li,.rte ul li{margin:3px 0}.rte ul li{list-style-type:none;position:relative;padding:0 0 0 18px}.rte ul li:before{content:'';width:7px;height:7px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#fe5621;display:block;position:absolute;top:7px;left:0}.rte ul li ul{padding:0 0 0 20px}.rte ul li ul li:before{background:#cdcfd0}.rte ol{list-style-type:none;counter-reset:item;margin:0}.rte ol>li{counter-increment:item}.rte ol>li:before{content:counters(item,'.') '. ';padding-right:3px}.rte ol>li ol li:before{content:counters(item,'.') ' '}.rte ol ol{padding:0 0 0 40px;font-style:italic}.rte blockquote{border-left:5px solid #fe5621;padding:35px}.rte blockquote p{font-size:18px;font-size:1.8rem;line-height:26px;font-style:italic}.rte blockquote cite{font-size:14px;font-size:1.4rem;text-transform:uppercase;font-weight:700;font-style:normal;margin:20px 0 0 0;display:block}.rte blockquote cite:after,.rte blockquote cite:before{content:'-'}.rte blockquote cite:before{margin:0 5px 0 0}.rte blockquote cite:after{margin:0 0 0 5px}.rte blockquote.blockquote-align-right{text-align:right;border-left:0;border-right:5px solid #fe5621}.rte .boxHeadline{font-size:18px;font-size:1.8rem;font-weight:400;margin:0 0 25px 0}.rte .boxHeadline+.boxHeadlineSub{margin:-18px 0 30px 0}.rte .boxHeadlineSub{font-size:14px;font-size:1.4rem;font-weight:400;font-style:italic;color:#919599;margin:0 0 25px 0}.rte .typeahead{padding:0;margin:0;width:100%;max-width:100%}.rte .typeahead li{list-style-type:none;padding:0;width:auto;margin:0}.rte .typeahead li:before{content:none}.rte .typeahead li.active a,.rte .typeahead li:focus a,.rte .typeahead li:hover a{background:#f0f1f5;color:#fe5621}.rte .typeahead li.active a:hover{background:#f0f1f5;color:#fe5621}.rte .typeahead li a{padding:5px 10px}.dl-horizontal dt.text-left{text-align:left}.dl-horizontal dd{margin-bottom:5px}.form-inline .form-group{margin-right:10px}.form-inline .form-control,.form-inline label{margin-bottom:0}.form-inline label span{margin-bottom:0}.form-group{margin-bottom:20px}.form-group .input-error-msg{font-size:12px;font-size:1.2rem;font-weight:700;text-transform:uppercase;color:#f34235;position:absolute;bottom:2px}.form-group.search-inline button{background:0 0;border:0;position:absolute;top:12px;right:25px;font-size:20px;font-size:2rem;color:#9da2a6;outline:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.form-group.search-inline button:hover{color:#363f45}.input-group-addon{background:#e6e7ed;border-color:#e6e7ed}.search-form-wrap{margin:0 0 30px 0}.search-results .i{border-top:1px solid #e6e7ed;padding:15px 0}.search-results .i:first-child{border:0}.search-results .i .title{display:block;font-size:16px;font-size:1.6rem}.search-results .i .url{font-size:13px;font-size:1.3rem;display:block;margin:2px 0 4px 0}.char-counter{position:relative}.char-counter textarea{margin:0}.char-counter .counter{font-size:11px;font-weight:700;position:absolute;right:0;bottom:0;background:green;color:#fff;width:28px;height:16px;line-height:16px;text-align:center}.char-counter .counter.text-warning{background:#fe9700}.char-counter .counter.text-danger{background:#f34235}.bootstrap-maxlength{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.pwstrength .progress{margin-bottom:5px}.pwstrength .password-verdict{display:block;text-align:right;font-size:12px}select{width:100%}select.error+.select2-container .select2-selection--single{border-color:#f34235}select.error+.select2-container .select2-selection--single .select2-selection__arrow{color:#f34235}select.simple-form-control+.select2-container .select2-selection--single{border-left:1px solid #e6e7ed}select.simple-form-control+.select2-container .select2-selection--single:focus{border-color:#e6e7ed}select.simple-form-control+.select2-container .select2-selection--single:focus .select2-selection__arrow{color:#9da2a6}.select2-dropdown{border-color:#e6e7ed;-webkit-box-shadow:0 2px 10px #dadada;-moz-box-shadow:0 2px 10px #dadada;box-shadow:0 2px 10px #dadada}.customSelectWrap .i .select2-container{width:100%!important}.select2-container .select2-selection--single{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;border-color:#e6e7ed;border-left:3px solid #4bae4f;font-weight:400;height:56px;padding:16px 18px;margin-bottom:20px;margin:0;padding:13px;font-style:italic}.select2-container .select2-selection--single:focus,.select2-container .select2-selection--single:hover{outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.select2-container .select2-selection--single:focus{border-color:#4bae4f}.select2-container .select2-selection--single.error,.select2-container .select2-selection--single.parsley-error{border-color:#f34235}.select2-container .select2-selection--single.error.simple-form-control,.select2-container .select2-selection--single.parsley-error.simple-form-control{border-color:#f34235}.select2-container .select2-selection--single::-webkit-input-placeholder{font-style:italic;color:#919599}.select2-container .select2-selection--single:-moz-placeholder{font-style:italic;color:#919599}.select2-container .select2-selection--single::-moz-placeholder{font-style:italic;color:#919599}.select2-container .select2-selection--single:-ms-input-placeholder{font-style:italic;color:#919599}.select2-container .select2-selection--single.simple-form-control{border-left:1px solid #e6e7ed}.select2-container .select2-selection--single.simple-form-control:focus{border-color:#e6e7ed}.select2-container .select2-selection--single:focus .select2-selection__arrow{color:#4bae4f}.select2-container--default .select2-selection--single .select2-selection__rendered{color:#919599}.select2-container--default .select2-results__option--highlighted[aria-selected]{background:#f0f1f5;color:#fe5621}.select2-container--default .select2-results__option[aria-selected=true]{background:#f0f1f5}.select2-results__option{padding:8px 24px}.select2-container--default .select2-selection--single .select2-selection__arrow{text-align:center;color:#9da2a6;top:16px;right:20px;width:auto}.select2-container--default .select2-selection--single .select2-selection__arrow b{border:0;font-style:normal;top:0;left:0;position:relative;margin:0}.select2-container--default .select2-selection--single .select2-selection__arrow b:after{content:'\f078';font-family:FontAwesome;font-size:18px;font-size:1.8rem}.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:after{content:'\f077'}.fileUploadWrap{margin-bottom:20px;border:1px solid #e6e7ed;cursor:pointer;position:relative;overflow:hidden}.fileUploadWrap .btn{position:absolute;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;text-transform:uppercase;font-weight:700;height:58px;line-height:40px;top:-1px;left:-1px;min-width:185px}.fileUploadWrap .info{position:absolute;top:0;left:205px;font-style:italic;color:#919599;line-height:54px}.fileUploadWrap input[type=file]{-moz-opacity:0;-khtml-opacity:0;-webkit-opacity:0;opacity:0;cursor:pointer;margin:0;position:relative;z-index:1}.checkboxes{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.checkboxes.checkboxes-sm input[type=checkbox]+span{padding:0 0 0 37px}.checkboxes.checkboxes-sm input[type=checkbox]+span:before{content:'';width:16px;height:16px;font-size:22px;font-size:2.2rem;line-height:14px}.checkboxes label{cursor:auto}.checkboxes input[type=checkbox]{position:absolute;-moz-opacity:0;-webkit-opacity:0;opacity:0}.checkboxes input[type=checkbox].error+span{color:#f34235}.checkboxes input[type=checkbox].error+span:before{color:#f34235;border-color:#f34235}.checkboxes input[type=checkbox]:disabled+span{color:#919599;cursor:auto}.checkboxes input[type=checkbox]:disabled+span:before{border-color:#e6e7ed;background:#e6e7ed}.checkboxes input[type=checkbox]+span{padding:0 0 0 37px;cursor:pointer}.checkboxes input[type=checkbox]+span:before{content:'';font-family:Material-Design-Iconic-Font;display:inline-block;width:26px;height:26px;border:1px solid #e6e7ed;color:#fff;font-size:22px;font-size:2.2rem;line-height:24px;text-align:center;position:absolute;left:0;top:-2px}.checkboxes input[type=checkbox]:active+span::before,.checkboxes input[type=checkbox]:focus+span::before{outline:0}.checkboxes input[type=checkbox]:checked+span{color:#4bae4f}.checkboxes input[type=checkbox]:checked+span::before{content:'\f26b';border-color:transparent;color:#4bae4f}.multiple-select .select2-selection__rendered li{list-style-type:none!important}.multiple-select .select2-selection__rendered li:before{content:none!important}.multiple-select .select2-container--default .select2-selection--multiple{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;border-color:#e6e7ed;border-left:3px solid #4bae4f;font-weight:400;height:56px;padding:16px 18px;margin-bottom:20px;padding:11px 18px}.multiple-select .select2-container--default .select2-selection--multiple:focus,.multiple-select .select2-container--default .select2-selection--multiple:hover{outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.multiple-select .select2-container--default .select2-selection--multiple:focus{border-color:#4bae4f}.multiple-select .select2-container--default .select2-selection--multiple.error,.multiple-select .select2-container--default .select2-selection--multiple.parsley-error{border-color:#f34235}.multiple-select .select2-container--default .select2-selection--multiple.error.simple-form-control,.multiple-select .select2-container--default .select2-selection--multiple.parsley-error.simple-form-control{border-color:#f34235}.multiple-select .select2-container--default .select2-selection--multiple::-webkit-input-placeholder{font-style:italic;color:#919599}.multiple-select .select2-container--default .select2-selection--multiple:-moz-placeholder{font-style:italic;color:#919599}.multiple-select .select2-container--default .select2-selection--multiple::-moz-placeholder{font-style:italic;color:#919599}.multiple-select .select2-container--default .select2-selection--multiple:-ms-input-placeholder{font-style:italic;color:#919599}.multiple-select .select2-container--default .select2-selection--multiple.simple-form-control{border-left:1px solid #e6e7ed}.multiple-select .select2-container--default .select2-selection--multiple.simple-form-control:focus{border-color:#e6e7ed}.multiple-select .select2-container--default .select2-selection--multiple .select2-selection__choice{background:#f0f1f5;border-color:#f0f1f5;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.radiobuttons{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.radiobuttons input[type=radio]{position:absolute;-moz-opacity:0;-webkit-opacity:0;opacity:0}.radiobuttons input[type=radio]:disabled+span{color:#919599;cursor:auto}.radiobuttons input[type=radio]:disabled+span:before{border-color:#e6e7ed;background:#e6e7ed}.radiobuttons input[type=radio]+span{cursor:pointer}.radiobuttons input[type=radio]+span:before{content:'';font-family:Material-Design-Iconic-Font;display:inline-block;width:26px;height:26px;vertical-align:middle;margin:-2px 9px 0 0;border:1px solid #e6e7ed;color:#fff;font-size:22px;font-size:2.2rem;line-height:24px;text-align:center;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.radiobuttons input[type=radio]:active+span::before,.radiobuttons input[type=radio]:focus+span::before{outline:0}.radiobuttons input[type=radio]:checked+span{color:#4bae4f}.radiobuttons input[type=radio]:checked+span:after{content:'';width:14px;height:14px;background:#4bae4f;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;position:absolute;top:4px;left:6px}.radiobuttons label{display:inline-block;width:auto;margin-right:25px;margin-bottom:15px}.checkboxes>.i,.radiobuttons>.i{margin-bottom:15px}.checkboxes label,.radiobuttons label{font-weight:400;position:relative}.checkboxToggler{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.checkboxToggler label{cursor:auto}.checkboxToggler input[type=checkbox]{position:absolute;-moz-opacity:0;-webkit-opacity:0;opacity:0}.checkboxToggler input[type=checkbox]+span{margin:15px 0 0 0;display:inline-block;width:50px;height:15px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background:#9a9fa2;cursor:pointer;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.checkboxToggler input[type=checkbox]+span:before{content:'';position:absolute;width:36px;height:36px;background:#fff;-webkit-box-shadow:1px 1px 5px #bdbcbc;-moz-box-shadow:1px 1px 5px #bdbcbc;box-shadow:1px 1px 5px #bdbcbc;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;left:10px;top:24px}.checkboxToggler input[type=checkbox]+span:after{content:'';width:26px;height:26px;background:#ebecf2;top:50%;left:50%;margin:0;top:29px;left:15px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;position:absolute}.checkboxToggler input[type=checkbox]+span:after,.checkboxToggler input[type=checkbox]+span:before{-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.checkboxToggler input[type=checkbox]:checked+span{background:#feaa90}.checkboxToggler input[type=checkbox]:checked+span:before{left:37px}.checkboxToggler input[type=checkbox]:checked+span:after{background:#fe5621;left:42px}.checkboxToggler input[type=checkbox]:disabled+span{background:#e6e7e8;cursor:auto}.checkboxToggler input[type=checkbox]:disabled+span:after{background:#ebecf2;left:42px}.inputSliders{margin-bottom:30px}.inputSliders label{font-weight:400;margin-bottom:15px}.inputSliders input{width:28px}.sliderWrap{background:#e6e7ed;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:0 30px 0 0}.sliderWrap .ui-corner-all{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.ui-slider-horizontal{height:5px;border:0}.ui-slider-horizontal .ui-slider-handle{outline:0;width:36px;height:36px;background:#fff;-webkit-box-shadow:1px 1px 7px #C1C1C1;-moz-box-shadow:1px 1px 7px #C1C1C1;box-shadow:1px 1px 7px #C1C1C1;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:0;cursor:pointer}.ui-slider-horizontal .ui-slider-handle:before{content:'';position:absolute;width:26px;height:26px;background:#fe5621;top:50%;left:50%;margin:-13px 0 0 -13px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.ui-slider-horizontal .ui-slider-handle:after{content:'||';font-size:10px;font-size:1rem;position:absolute;left:0;top:50%;margin:-7px 0 0 0;width:100%;text-align:center;letter-spacing:-2px;color:#fea387}.ui-slider-horizontal#slider-range-max{background:#fe5621}.ui-slider-horizontal#slider-range-max .ui-widget-header{background:#e6e7ed}.ui-slider-horizontal#slider-range .ui-widget-header{background:#fe5621}.ui-slider-horizontal .ui-slider-handle{top:-14px;margin-left:-3px}.colorpicker.dropdown-menu{width:auto}.datepicker.dropdown-menu{width:auto;min-width:255px}.datepicker table{width:100%}.datepicker table tr td.active,.datepicker table tr td.selected{background:#fe5621;-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none}.datepicker table tr td.active:hover,.datepicker table tr td.selected:hover{background:#fe5621}.datepicker table tr td.active:hover:hover,.datepicker table tr td.selected:hover:hover{background:#fe5621;-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none}.datepicker table tr td.active.active,.datepicker table tr td.selected.active{background:#fe5621;-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none}.datepicker table tr td.active.active:hover,.datepicker table tr td.selected.active:hover{background:#fe5621}.input-daterange input{text-align:left}.input-group{margin-bottom:20px}.bootstrap-datetimepicker-widget ul{padding:0;margin:0}.bootstrap-datetimepicker-widget ul li{padding:0;margin:0}.bootstrap-datetimepicker-widget ul li:before{content:none}.typeahead{padding:0;margin:0;width:100%;max-width:100%}.typeahead li{list-style-type:none;padding:0;width:auto;margin:0}.typeahead li:before{content:none}.typeahead li.active a,.typeahead li:focus a,.typeahead li:hover a{background:#f0f1f5;color:#fe5621}.typeahead li.active a:hover{background:#f0f1f5;color:#fe5621}.typeahead li a{padding:5px 10px}.mention_image{margin:0 10px 0 0}.fc button{height:36px}.fc-agenda .fc-event-time,.fc-event,.fc-event a{background:#fe5621;border:0;padding:4px 6px;font-size:13px;font-size:1.3rem}.fc-toolbar h2{font-size:24px;font-size:2.4rem;margin:8px 0 0 0}.fc-state-default{background:#e6e7ed;background-image:none;border:0;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-text-shadow:none;-moz-text-shadow:none;text-shadow:none;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.fc-state-default.fc-state-active{background:#fe5621;color:#fff}.fc-state-default.fc-next-button,.fc-state-default.fc-prev-button{background:0 0}.fc-state-default.fc-next-button:hover,.fc-state-default.fc-prev-button:hover{background:#e6e7ed}.fc-state-default.fc-today-button{background:#2095f2;color:#fff}#external-events p{margin:20px 0 0 0}.external-event{cursor:pointer;margin-bottom:5px}.fc-toolbar .fc-state-active,.fc-toolbar .ui-state-active{z-index:1}.taskCard{border-top:2px solid #fe5621}.taskCard .title{margin:0 0 12px 0}.taskCard .participants{margin:0 0 15px 0}.taskCard .participants .title{margin:0 0 5px 0}.taskCard .info{margin:20px 0 0 0;line-height:21px}.taskCard .info .fa{margin-right:6px}.userCard .c{min-height:45px;position:relative}.userCard .c .image{position:absolute;left:0;top:0}.userCard .c .image img{width:44px;height:44px}.userCard .c .info{padding:0 0 0 68px;line-height:21px}.userCard .c .info .name{margin:0 0 2px 0}.userCard .c .info .position{margin:0 0 20px 0}.userCard .c .info .fa{color:#919599}.userCard.userCardWide{border-left:5px solid #fe5621}.usersList{padding:0}.usersList li{display:inline-block;padding:0;margin:0 2px 5px 0}.usersList li:before{content:none}.usersList li.more>a,.usersList li.more>span{background:#ebecf2;width:44px;height:44px;line-height:44px;display:inline-block;vertical-align:middle;text-align:center;font-weight:700}.usersList li.more>a:hover,.usersList li.more>span:hover{background:#e2e3ec}.userProfileInfo .image{position:relative}.userProfileInfo .image .editImage{position:absolute;bottom:-27px;right:20px;background:#fe5621;color:#fff;text-align:center;font-size:18px;font-size:1.8rem;width:54px;height:54px;line-height:54px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.userProfileInfo .image .editImage:hover{background:#fe693a}.userProfileInfo .box{padding:0}.userProfileInfo .box .info,.userProfileInfo .box .name,.userProfileInfo .box .socialIcons{padding:15px 20px;border-bottom:1px solid #e6e7ed}.userProfileInfo .box .socialIcons{border:0}.userProfileInfo .box .info>span{margin:10px 0;display:block;padding:0 0 0 35px;position:relative}.userProfileInfo .box .info>span .fa{position:absolute;left:5px;top:4px;color:#9da2a6}.userProfileContent>.i{position:relative;margin-top:40px}.userProfileContent>.i:first-child{margin-top:0}.simpleListings{padding:0;margin:0}.simpleListings li{list-style-type:none;padding:0 0 20px 0;margin:20px 0 0 0;border-bottom:1px solid #e6e7ed;position:relative}.simpleListings li:first-child{margin-top:0}.simpleListings li:only-child{border-bottom:0}.simpleListings li .title{font-size:14px;font-size:1.4rem;font-weight:700;text-transform:uppercase;margin:0 0 2px 0}.simpleListings li .title span{font-weight:400;text-transform:none}.simpleListings li .title a:hover{color:#fe5621}.simpleListings li .info{color:#919599;font-style:italic}.simpleListings li p{margin:7px 0 0 0}.simpleListings li img{margin:20px 0}.userActivities{margin-bottom:25px}.userActivities+.showMore{margin:0 0 0 70px}.userActivities .i{margin-top:25px;position:relative}.userActivities .i:first-child{margin-top:0}.userActivities .i .image{position:absolute;top:20px;left:0}.userActivities .i .activityContent{margin:0 0 0 70px;border:1px solid #e6e7ed;min-height:70px}.userActivities .i .activityContent:after,.userActivities .i .activityContent:before{content:'';left:48px;top:40px;border:solid transparent;height:0;width:0;position:absolute;pointer-events:none}.userActivities .i .activityContent:after{border-right-color:#fff;border-width:12px;margin-top:-12px}.userActivities .i .activityContent:before{border-right-color:#dcdcdc;border-width:11px;margin-top:-11px}.userActivities ul{padding:20px 25px}.userActivities ul li .title{font-size:16px;font-size:1.6rem;text-transform:none}.userActivities .status li{padding-bottom:0}.userActivities .status li .share{margin:20px 0 0 0}.userActivities .status li .share a{color:#fe5621;display:inline-block;margin:0 0 0 20px}.userActivities .status li .share a:first-child{margin:0}.userActivities .status li .share a .fa{color:#9da2a6;margin:0 3px 0 0;-webkit-transition:color .3s ease;-moz-transition:color .3s ease;-ms-transition:color .3s ease;-o-transition:color .3s ease}.userActivities .status li .share a:hover .fa{color:#fe5621}.userActivities .comments{background:#f5f6fa;border-top:1px solid #e6e7ed}.userActivities .comments li:last-child{border-bottom:0;padding-bottom:0}.userActivities .comments li .image{position:absolute;left:0;top:0}.userActivities .comments li .image img{margin:0}.userActivities .comments li .c{margin:0 0 0 70px}.userActivities .comments li .c .form-control{border-left:1px solid #e6e7ed;padding:10px 18px;margin:0 0 10px 0}.userActivities .comments li .c .form-control:focus{border-color:#e6e7ed}.userActivities .comments li.showComments{border-bottom:0;padding:0;margin:0 0 15px 0}.userActivities .comments li.showComments .fa{color:#9da2a6;margin:0 3px 0 0}.userActivities .comments li.showComments a:hover{color:#fe5621}.itemOptions{position:absolute;top:0;right:0;color:#9da2a6;font-size:16px;font-size:1.6rem}.itemOptions a{color:inherit}hr{border-color:#e6e7ed;margin:30px 0}.colorSchemeGrid .i{width:20%;float:left;text-align:center;text-transform:uppercase;color:#fff;padding:100px 0}.socialIcons a{width:44px;height:44px;display:inline-block;float:left;margin:0 5px 5px 0;text-align:center;line-height:44px;color:#fff;font-size:18px;font-size:1.8rem}.socialIcons a.fb{background:#3e50b4}.socialIcons a.fb:hover{background:#4e60c2}.socialIcons a.twitter{background:#02a8f3}.socialIcons a.twitter:hover{background:#17b5fd}.socialIcons a.google-plus{background:#f34235}.socialIcons a.google-plus:hover{background:#f55d52}.page-login{background:url(../../img/bg-login.jpg) no-repeat center;color:#fff;-webkit-background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-size:100%;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}.loginContentWrap{width:100%;position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);position:absolute}.loginContentWrap .container{padding:0 15px}.loginContentWrap .pageTitle{font-size:50px;font-size:5rem;margin:30px 0}.loginContentWrap form .form-group{margin:0;position:relative}.loginContentWrap form .form-group .fa{position:absolute;left:26px;top:20px;color:#cfcfcf;font-size:16px;font-size:1.6rem}.loginContentWrap form .form-group .fa.fa-lock{left:28px}.loginContentWrap form .form-control{margin:-1px 0 0 0}.loginContentWrap form .form-control.error,.loginContentWrap form .form-control.parsley-error{border-color:#e6e7ed}.loginContentWrap form .form-control.error.simple-form-control,.loginContentWrap form .form-control.parsley-error.simple-form-control{border-color:#e6e7ed}.loginContentWrap form .form-control.error+.fa,.loginContentWrap form .form-control.parsley-error+.fa{color:#f92919}.loginContentWrap form .parsley-errors-list{position:absolute;left:105%;top:16px;padding:0;background:#f92919;margin:0;white-space:nowrap;text-transform:uppercase}.loginContentWrap form .parsley-errors-list li{display:block;padding:2px 10px;margin:0;list-style-type:none;position:relative}.loginContentWrap form .parsley-errors-list li:after,.loginContentWrap form .parsley-errors-list li:before{content:'';right:100%;top:50%;border:solid transparent;height:0;width:0;position:absolute;pointer-events:none}.loginContentWrap form .parsley-errors-list li:before{border-right-color:red;border-width:6px;margin-top:-6px}.loginContentWrap form .parsley-errors-list.filled+.fa{color:#f92919}.loginContentWrap form .form-control{font-size:20px;font-size:2rem;font-style:none;padding-left:65px}.loginContentWrap form .form-control::-webkit-input-placeholder{font-style:normal}.loginContentWrap form .form-control:-moz-placeholder{font-style:normal}.loginContentWrap form .form-control::-moz-placeholder{font-style:normal}.loginContentWrap form .form-control:-ms-input-placeholder{font-style:normal}.loginContentWrap form .btn{margin:20px 0 0 0;font-size:20px;font-size:2rem;font-weight:700;width:100%;text-transform:uppercase;padding:15px 0}.loginContentWrap .more{font-size:16px;font-size:1.6rem;margin:30px 0 0 0;padding:0;text-align:center}.loginContentWrap .more li{list-style-type:none;display:inline-block;margin:0 0 0 15px}.loginContentWrap .more li:before{content:'|';margin:0 15px 0 0}.loginContentWrap .more li:first-child{margin:0}.loginContentWrap .more li:first-child:before{content:none}.loginContentWrap .more a{color:#fff}.loginContentWrap .more a:hover{color:#fe5621}.filter{margin:20px 0}.filter>.i{display:inline-block;color:#363f45;text-transform:uppercase;font-weight:700;padding:10px 30px;border:1px solid #e6e7ed;float:left;margin:0 10px 10px 0}.filter>.i.active{background:#fe5621;border-color:#fe5621;color:#fff}.filter>.i.active:hover{background:#fe5621}.filter>.i:hover{background:#e6e7ed}.galleryGrid .container{padding-left:12px;padding-right:12px}.galleryListing{margin:0 -7.5px}.galleryListing.row{margin-left:-7.5px;margin-right:-7.5px}.galleryListing .shuffle_sizer{width:1px;padding:0;float:none}.galleryListing .i{padding:0;margin-bottom:15px;width:15%}.galleryListing .i .c{margin:0 7.5px;position:relative}.galleryListing .i .c .title{position:absolute;bottom:0;left:15px;color:#fff;z-index:1;-moz-opacity:0;-khtml-opacity:0;-webkit-opacity:0;opacity:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.galleryListing .i .c:after{content:'';height:30%;position:absolute;bottom:0;left:0;width:100%;display:block;background:-webkit-linear-gradient(top,rgba(0,0,0,.9),rgba(0,0,0,0));background:-o-linear-gradient(top,rgba(0,0,0,.9),rgba(0,0,0,0));background:-moz-linear-gradient(top,rgba(0,0,0,.9),rgba(0,0,0,0));background:linear-gradient(to top,rgba(0,0,0,.9),rgba(0,0,0,0));-moz-opacity:0;-khtml-opacity:0;-webkit-opacity:0;opacity:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.galleryListing .i .c:hover .title{bottom:12px}.galleryListing .i .c:hover .title,.galleryListing .i .c:hover:after{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1}.galleryListing .i img{width:100%}.galleryListing .i.col-19{width:19.061%}.galleryListing .i.col-23{width:23.036%}.galleryListing .i.col-26{width:26.65%}.galleryListing .i.col-31{width:31.2%}.galleryListing .i.col-28{width:28.817%}.galleryListing .i.col-21{width:21.5%}.galleryListing .i.col-26{width:26.65%}.galleryListing .i.col-23{width:23.016%}.galleryListing .i.col-21-2{width:21.139%}.galleryListing .i.col-35{width:35.231%}.galleryListing .i.col-20{width:20.597%}@media (max-width:991px){.galleryListing .i{width:50%!important}}@media (max-width:560px){.galleryListing .i{width:100%!important}}.google-map{height:300px}.google-map#map-5{height:450px}.flot-chart{height:220px}.flot-chart-pie-content{width:220px;height:200px;margin:0 auto}.flot-chart-content{width:100%;height:100%}.short-side-bar .pageContent.extended{margin:0 12px 0 74px}.short-side-bar .aside{width:56px}.short-side-bar .aside .simpleList ul>li span{display:none}.short-side-bar .aside .asideUserProfile .name,.short-side-bar .aside .progessInfo{display:none}.short-side-bar .asideNavigation>ul .sub{position:relative}.short-side-bar .asideNavigation>ul .sub ul{position:absolute;top:0;left:100%;z-index:1;min-width:150px}.short-side-bar .asideNavigation>ul .sub ul li a{padding:6px 20px}.short-side-bar .asideNavigation>ul .sub:hover ul{display:block}@media (min-width:1410px){.short-side-bar .pageWrap .pageContent>.container{width:1331px}}.aside{position:absolute;left:0;top:0;width:210px;background:#fff;min-height:100%;z-index:3;padding-top:60px}.asideUserProfile{position:relative}.asideUserProfile .name{font-size:16px;font-size:1.6rem;font-weight:700;text-transform:uppercase;color:#fff;position:absolute;bottom:20px;left:20px;padding:0 20px 0 0;z-index:1}.asideUserProfile .c{display:block}.asideUserProfile .c:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.5) 0;background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5) 0,rgba(255,255,255,0) 80%);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5) 0,rgba(255,255,255,0) 80%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5) 0,rgba(255,255,255,0) 80%);background-image:-ms-linear-gradient(bottom,rgba(0,0,0,.5) 0,rgba(255,255,255,0) 80%);background-image:linear-gradient(bottom,rgba(0,0,0,.5) 0,rgba(255,255,255,0) 80%)}.simpleList.list-sm>ul>li>a,.simpleList.list-sm>ul>li>div{padding:8px 18px 8px 15px}.simpleList>ul{padding:0;margin:0}.simpleList>ul li{list-style-type:none;display:block}.simpleList>ul>li{border-bottom:1px solid #e6e7ed}.simpleList>ul>li>a,.simpleList>ul>li>div{display:block;font-weight:700;padding:15px 18px 15px 15px}.simpleList>ul>li>a .icon,.simpleList>ul>li>div .icon{color:#9da2a6;font-size:20px;font-size:2rem;vertical-align:middle;margin:0 12px 0 0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.simpleList>ul>li>a img,.simpleList>ul>li>div img{margin:0 12px 0 0}.simpleList>ul>li>a .info,.simpleList>ul>li>div .info{font-weight:400}.simpleList>ul>li.active div,.simpleList>ul>li.active>a,.simpleList>ul>li:hover div,.simpleList>ul>li:hover>a{background:#f2f9ff;color:#fe5621}.simpleList>ul>li.active div .icon,.simpleList>ul>li.active>a .icon,.simpleList>ul>li:hover div .icon,.simpleList>ul>li:hover>a .icon{color:#fe5621}.simpleList>ul .sub{cursor:pointer}.simpleList>ul .sub ul{display:none;background:#f2f9ff;padding:5px 0 10px 0;margin:0}.simpleList>ul .sub ul li a{padding:6px 15px 6px 58px;display:block}.simpleList>ul .sub ul li a:hover{color:#fe5621}.simpleList>ul .sub ul li.active>a{color:#fe5621}.simpleList>ul .sub .plus{font-size:20px;font-size:2rem;color:#919599;vertical-align:middle;float:right}.simpleList>ul .label{margin:0 0 0 3px;display:inline-block}.simpleList.simpleListLighten>ul>li>a,.simpleList.simpleListLighten>ul>li>div{font-weight:400;color:#919599}.simpleList.simpleListLighten>ul>li>a .info,.simpleList.simpleListLighten>ul>li>div .info{color:#363f45;-webkit-transition:color .3s ease;-moz-transition:color .3s ease;-ms-transition:color .3s ease;-o-transition:color .3s ease}.simpleList.simpleListLighten>ul>li>a:hover,.simpleList.simpleListLighten>ul>li>div:hover{color:#fe5621}.simpleList.simpleListLighten>ul>li>a:hover .info,.simpleList.simpleListLighten>ul>li>div:hover .info{color:#fe5621}.simpleList.simpleListImages>ul>li>a,.simpleList.simpleListImages>ul>li>div{position:relative;padding:33px 35px 33px 138px}.simpleList.simpleListImages>ul>li>a .info,.simpleList.simpleListImages>ul>li>div .info{display:block;font-style:italic;color:#919599}.simpleList.simpleListImages>ul>li>a .arrow,.simpleList.simpleListImages>ul>li>div .arrow{position:absolute;top:25px;right:25px;font-size:20px;font-size:2rem}.simpleList.simpleListImages>ul>li>a .image,.simpleList.simpleListImages>ul>li>div .image{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);position:absolute;left:0;width:138px;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease}.simpleList.simpleListImages>ul>li>a .image img,.simpleList.simpleListImages>ul>li>div .image img{margin:0 auto;display:block}.progessInfo{padding:30px 0 20px 0;border-bottom:1px solid #e6e7ed}.progessInfo .badge{margin:0 0 0 3px;display:inline-block;position:relative;top:-1px}.progessInfo .boxTitle{margin:0 0 15px 20px}.progessInfo ul{padding:0;margin:15px 20px}.progessInfo ul li{margin:10px 0;list-style-type:none}.progessInfo ul li .title{margin:0 0 2px 0}.progessInfo ul li .progress{margin:0}.wizardWrap{margin:30px 0}.wizardWrap .wizard>.steps a{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;margin:0 2px 0 0;font-size:16px;font-size:1.6rem;padding:20px;border-bottom:3px solid #fe5621;color:#363f45}.wizardWrap .wizard>.steps .disabled a{background:#f0f1f5;color:#363f45;border-color:#e6e7ed}.wizardWrap .wizard>.steps .disabled a:active,.wizardWrap .wizard>.steps .disabled a:hover{background:#f0f1f5;color:#363f45;border-color:#e6e7ed}.wizardWrap .wizard>.steps .done a{background:#f0f1f5;color:#363f45;border-color:#4bae4f}.wizardWrap .wizard>.steps .done a:active,.wizardWrap .wizard>.steps .done a:hover{background:#f0f1f5;color:#363f45;border-color:#4bae4f}.wizardWrap .wizard>.steps .current a{color:#fe5621;background:#f0f1f5}.wizardWrap .wizard>.steps .current a:active,.wizardWrap .wizard>.steps .current a:hover{color:#fe5621;background:#f0f1f5}.wizardWrap .wizard>.steps .current.done a{color:#4bae4f}.wizardWrap .wizard>.content{background:0 0;padding:30px 20px;margin:0}.wizardWrap .wizard>.content>.body{padding:0;position:relative;width:100%;height:100%}.wizardWrap .wizard>.actions a{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;text-transform:uppercase;font-weight:700;font-size:14px;font-size:1.4rem;border:0;padding:10px 19px;background:0 0;color:#fe5621;background:#fe5621;color:#fff}.wizardWrap .wizard>.actions a:focus,.wizardWrap .wizard>.actions a:hover{background:#ebecf2;color:#fe5621}.wizardWrap .wizard>.actions a:focus:active,.wizardWrap .wizard>.actions a:hover:active{color:#fe5621}.wizardWrap .wizard>.actions a.btn-lg{padding:19px}.wizardWrap .wizard>.actions a.btn-sm{padding:5px 19px}.wizardWrap .wizard>.actions a.btn-xs{font-size:12px;font-size:1.2rem;padding:3px 12px}.wizardWrap .wizard>.actions a.btn-primary{background:#fe5621;color:#fff}.wizardWrap .wizard>.actions a.btn-primary:focus,.wizardWrap .wizard>.actions a.btn-primary:hover{background:#fe6d3f;-webkit-box-shadow:0 3px 8px #cec9c9;-moz-box-shadow:0 3px 8px #cec9c9;box-shadow:0 3px 8px #cec9c9;color:#fff}.wizardWrap .wizard>.actions a:active,.wizardWrap .wizard>.actions a:focus{outline:0}.wizardWrap .wizard>.actions a:active:focus,.wizardWrap .wizard>.actions a:focus:focus{outline:0}.wizardWrap .wizard>.actions a.btn-green{background:#4bae4f;color:#fff}.wizardWrap .wizard>.actions a.btn-green:hover{background:#45a049}.wizardWrap .wizard>.actions a.btn-orange{background:#fe5621;color:#fff}.wizardWrap .wizard>.actions a.btn-orange:hover{background:#fe470d}.wizardWrap .wizard>.actions a.btn-gray{background:#919599;color:#fff}.wizardWrap .wizard>.actions a.btn-gray:hover{background:#868b8f}.wizardWrap .wizard>.actions a .fa{margin:0 5px}.wizardWrap .wizard>.actions a.disabled,.wizardWrap .wizard>.actions a:disabled{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;color:#fff;background:#919599}.wizardWrap .wizard>.actions a.disabled:focus,.wizardWrap .wizard>.actions a.disabled:hover,.wizardWrap .wizard>.actions a:disabled:focus,.wizardWrap .wizard>.actions a:disabled:hover{background:#919599}.wizardWrap .wizard>.actions a:focus,.wizardWrap .wizard>.actions a:hover{background:#fe6d3f;-webkit-box-shadow:0 3px 8px #cec9c9;-moz-box-shadow:0 3px 8px #cec9c9;box-shadow:0 3px 8px #cec9c9;color:#fff}.wizardWrap .wizard>.actions .disabled a{background:#919599;color:#fff}.wizardWrap .wizard>.actions .disabled a:hover{background:#868b8f}.dataTable .row{margin:0;padding:0 20px}.dataTable div.dataTables_wrapper div.dataTables_info{padding:0;margin:38px 0}.dataTable div.dataTables_wrapper div.dataTables_paginate ul.pagination{margin:20px}.dataTable div.dataTables_wrapper div.dataTables_length select{width:120px}.dataTable .select2-selection{margin:0 10px}.dataTable div.dataTables_wrapper div.dataTables_filter input{width:65%;vertical-align:inherit;margin:0 10px}.invoice h1,.invoice h2,.invoice h3,.invoice h4,.invoice h5,.invoice h6{margin:0 0 20px 0}.invoice .invoiceBox{margin-top:10px}.invoice .invoiceBox .i{padding:15px 0}.invoice .invoiceBox .i h4{margin:3px 0 0 0;font-weight:400}.invoice .tableWrap{margin:30px 0}.order-detail .i{margin-top:40px}.container{padding-left:12px;padding-right:12px}.row{margin-left:-12px;margin-right:-12px}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{padding-left:12px;padding-right:12px}.badge{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;width:20px;height:20px;background:#fe5621;color:#fff;text-align:center;padding:0;line-height:18px;font-size:14px;font-size:1.4rem;font-weight:700}.btn{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-ms-transition:all .3s ease;-o-transition:all .3s ease;text-transform:uppercase;font-weight:700;font-size:14px;font-size:1.4rem;border:0;padding:10px 19px;background:0 0;color:#fe5621}.btn:focus,.btn:hover{background:#ebecf2;color:#fe5621}.btn:focus:active,.btn:hover:active{color:#fe5621}.btn.btn-lg{padding:19px}.btn.btn-sm{padding:5px 19px}.btn.btn-xs{font-size:12px;font-size:1.2rem;padding:3px 12px}.btn.btn-primary{background:#fe5621;color:#fff}.btn.btn-primary:focus,.btn.btn-primary:hover{background:#fe6d3f;-webkit-box-shadow:0 3px 8px #cec9c9;-moz-box-shadow:0 3px 8px #cec9c9;box-shadow:0 3px 8px #cec9c9;color:#fff}.btn:active,.btn:focus{outline:0}.btn:active:focus,.btn:focus:focus{outline:0}.btn.btn-green{background:#4bae4f;color:#fff}.btn.btn-green:hover{background:#45a049}.btn.btn-orange{background:#fe5621;color:#fff}.btn.btn-orange:hover{background:#fe470d}.btn.btn-gray{background:#919599;color:#fff}.btn.btn-gray:hover{background:#868b8f}.btn .fa{margin:0 5px}.btn.disabled,.btn:disabled{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1;color:#fff;background:#919599}.btn.disabled:focus,.btn.disabled:hover,.btn:disabled:focus,.btn:disabled:hover{background:#919599}.open>.dropdown-toggle.btn-primary{background:#fe6d3f}.open>.dropdown-toggle.btn-primary:focus{background:#fe6d3f}.dropdown-menu{width:100%;margin:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.dropdown-menu>li{margin:2px 0}.dropdown-menu>li>a{padding:6px 20px}.dropdown-menu>li>a .fa,.dropdown-menu>li>a .zmdi{color:#9da2a6;margin-right:10px;font-size:16px;font-size:1.6rem}.dropdown-menu>li>a:hover{background:0 0;color:#fe5621}.dropdown-menu>li>a:hover .fa,.dropdown-menu>li>a:hover .zmdi{color:#fe5621}.alert{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:19px;border:0;color:#fff;padding-left:65px;position:relative;margin-bottom:10px}.alert:after{content:'';font-family:FontAwesome;font-size:16px;font-size:1.6rem;position:absolute;left:23px;top:17px}.alert.alert-success{background:#8ac249}.alert.alert-success:after{content:'\f00c'}.alert.alert-info{background:#02a8f3}.alert.alert-info:after{content:'\f05a'}.alert.alert-warning{background:#fe9700}.alert.alert-warning:after{content:'\f071'}.alert.alert-danger{background:#f34235}.alert.alert-danger:after{content:'\f06a'}.alert.alert-file-upload{background:#4bae4f;padding:19px}.alert .close{right:5px;outline:0;-moz-opacity:.5;-khtml-opacity:.5;-webkit-opacity:.5;opacity:.5;color:#fff}.alert .close:hover{-moz-opacity:1;-khtml-opacity:1;-webkit-opacity:1;opacity:1}.label.label-success{background:#8ac249}.label.label-info{background:#02a8f3}.label.label-warning{background:#fe9700}.label.label-danger{background:#f34235}.popover{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{padding:17px 25px;border-color:#e6e7ed}.table>tbody>tr>th{font-weight:400}.table tr td:last-child{width:18%}.table tr td .fa{font-size:20px;font-size:2rem;margin:0 15px 0 0}.table tr:last-child td,.table tr:last-child th{border-bottom:1px solid #f0f1f5}.table-striped>tbody>tr:nth-of-type(odd){background:0 0}.table-striped>tbody>tr:nth-of-type(even){background:#f0f1f5}.table-striped>tbody>tr>td,.table-striped>tbody>tr>th{border-color:#f0f1f5}.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active{background:#fffbd9}.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>thead>tr>td.success,.table>thead>tr>th.success{background:#d9ffdc}.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{background:#ffe2d9}.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>thead>tr>td.info,.table>thead>tr>th.info{background:#d9deff}.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>thead>tr>td.warning,.table>thead>tr>th.warning{background:#fff0d9}label{width:100%;cursor:pointer}label span{display:block;margin:0 0 6px 0}.form-control{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;border-color:#e6e7ed;border-left:3px solid #4bae4f;font-weight:400;height:56px;padding:16px 18px;margin-bottom:20px}.form-control:focus,.form-control:hover{outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.form-control:focus{border-color:#4bae4f}.form-control.error,.form-control.parsley-error{border-color:#f34235}.form-control.error.simple-form-control,.form-control.parsley-error.simple-form-control{border-color:#f34235}.form-control::-webkit-input-placeholder{font-style:italic;color:#919599}.form-control:-moz-placeholder{font-style:italic;color:#919599}.form-control::-moz-placeholder{font-style:italic;color:#919599}.form-control:-ms-input-placeholder{font-style:italic;color:#919599}.form-control.simple-form-control{border-left:1px solid #e6e7ed}.form-control.simple-form-control:focus{border-color:#e6e7ed}textarea{resize:none}.pagination{margin:25px 0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.pagination>li{display:inline-block;margin:0 2px}.pagination>li>a,.pagination>li>span{background:#ebecf2;border:0;color:#363f45;padding:0;width:56px;height:56px;text-align:center;line-height:56px;font-size:14px;font-size:1.4rem}.pagination>li>a:hover,.pagination>li>span:hover{color:#363f45;background:#e2e3ec}.pagination>li>a .fa,.pagination>li>span .fa{font-size:20px;font-size:2rem;position:relative;top:2px;color:#9da2a6}.pagination>li.active>a,.pagination>li.active>span{font-weight:700;color:#fff;background:#fe5621}.pagination>li.active>a:active,.pagination>li.active>a:focus,.pagination>li.active>a:hover,.pagination>li.active>span:active,.pagination>li.active>span:focus,.pagination>li.active>span:hover{font-weight:700;color:#fff;background:#fe5621}.pagination>li:first-child>a,.pagination>li:first-child>span,.pagination>li:last-child>a,.pagination>li:last-child>span{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.panel-title{font-weight:700;font-size:16px;font-size:1.6rem}.panel-title a{display:block;padding:20px;color:#fe5621;background:#f0f1f5;border-left:3px solid #fe5621;position:relative}.panel-title a.collapsed{color:#363f45}.panel-title a.collapsed:after{content:'\f078';color:#afb3b7}.panel-title a:after{content:'';font-family:FontAwesome;content:'\f077';position:absolute;right:20px;top:20px;color:#363f45}.panel-body{padding:20px}.panel{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.panel-group .panel+.panel{margin-top:1px}.panel-group .panel-heading{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:0;background:0 0}.panel-group .panel-heading+.panel-collapse>.panel-body{border:0}.panel-default{border:0}.panel-default .panel-default>.panel-heading{background:0 0}.faq-listing .panel-title{padding:20px;border-left:3px solid #fe5621;position:relative;background:#f0f1f5;font-weight:400;font-size:14px;font-size:1.4rem}.faq-listing .panel-title.collapsed:after{content:'\f078';color:#afb3b7}.faq-listing .panel-title a{border:0;padding:0;margin:0}.faq-listing .panel-title a:after{content:none}.faq-listing .panel-title a.question{font-weight:700;margin:2px 0 8px 0;font-size:16px;font-size:1.6rem}.faq-listing .panel-title .user .user-info{margin:0 0 0 10px;display:inline-block;vertical-align:middle}.faq-listing .panel-title .user .user-info a{margin:0 0 3px 0}.progress{height:10px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#f0f1f5;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.progress-bar{background-color:#fe5621;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.progress-bar.progress-bar-danger{background-color:#f34235}.progress-bar.progress-bar-warning{background-color:#fe9700}.progress-bar.progress-bar-success{background-color:#4bae4f}.tab-content{padding:20px 0}.nav-tabs>li.active>a{background:0 0;border:0;border-bottom:1px solid #fe5621;color:#fe5621}.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{background:0 0;border:0;border-bottom:1px solid #fe5621;color:#fe5621}.nav-tabs>li.active>a:after{content:'';width:100%;height:1px;background:#fe5621;position:absolute;bottom:-2px;left:0;display:block}.nav-tabs>li>a{position:relative;border:0;border-bottom:1px solid transparent;color:#919599;font-weight:700;text-transform:uppercase;padding:15px 25px}.nav-tabs>li>a:focus,.nav-tabs>li>a:hover{border:0;border-bottom:1px solid #9da2a6;background:0 0;color:#363f45}.nav-tabs.userProfileTabs{margin-bottom:20px;margin-left:-30px;margin-right:-30px}.nav-tabs.userProfileTabs>li>a{padding:15px 30px}.modal-backdrop.in{-moz-opacity:.8;-khtml-opacity:.8;-webkit-opacity:.8;opacity:.8}.modal-content{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:0;-webkit-box-shadow:0 5px 15px rgba(0,0,0,.4);-moz-box-shadow:0 5px 15px rgba(0,0,0,.4);box-shadow:0 5px 15px rgba(0,0,0,.4)}.modal-body{padding:0 30px;font-size:16px;font-size:1.6rem;line-height:24px}.modal-header{padding:30px;position:relative;border:0}.modal-header .modal-title{margin:0}.modal-header .close{margin:0;outline:0;top:40px;right:30px;position:absolute}.modal-footer{border:0;padding:10px 30px 30px 30px}#searchModal .modal-content{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;background:0 0}#searchModal .form-control{background:0 0;border:0;color:#fff;border-bottom:2px solid #fe5621;text-transform:uppercase;font-style:normal;font-size:16px;font-size:1.6rem;letter-spacing:2px;padding:16px 12px}#searchModal .form-control::-webkit-input-placeholder{font-style:normal;color:#fe5621}#searchModal .form-control:-moz-placeholder{font-style:normal;color:#fe5621}#searchModal .form-control::-moz-placeholder{font-style:normal;color:#fe5621}#searchModal .form-control:-ms-input-placeholder{font-style:normal;color:#fe5621}#searchModal .btn{position:absolute;top:8px;right:30px}#searchModal .btn:hover{background:0 0;color:#fff}.panel{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;padding:0;margin:0 0 24px 0}.panel-heading{padding:20px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border-color:#e6e7ed;position:relative}.panel-heading .btn-group{position:absolute;top:50%;right:15px;margin:-20px 0 0 0}.panel-heading .btn{color:#9da2a6;padding:0;width:40px;height:40px;line-height:42px;text-align:center;font-size:24px;font-size:2.4rem}.panel-heading .btn:active,.panel-heading .btn:focus,.panel-heading .btn:hover{background:#f2f9ff;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.panel-body{padding:20px}.panel-title{font-size:18px;font-size:1.8rem;font-weight:400}.panel-subtitle{font-size:14px;font-size:1.4rem;font-weight:400;font-style:italic;color:#919599;margin:10px 0 0 0}.panel-footer{background:#fff;border-top:1px solid #e6e7ed;padding:20px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.panel-primary{border-color:#363f45}.panel-primary>.panel-heading{background:#363f45;border-color:#363f45;color:#fff}.panel-success{border-color:#8ac249}.panel-success>.panel-heading{background:#8ac249;border-color:#8ac249;color:#fff}.panel-info{border-color:#02a8f3}.panel-info>.panel-heading{background:#02a8f3;border-color:#02a8f3;color:#fff}.panel-warning{border-color:#fe9700}.panel-warning>.panel-heading{background:#fe9700;border-color:#fe9700;color:#fff}.panel-danger{border-color:#f34235}.panel-danger>.panel-heading{background:#f34235;border-color:#f34235;color:#fff}.btn.bg-red{background-color:#f34235;color:#fff}.btn.bg-red:hover{background-color:#f55d52}.btn.bg-pink{background-color:#e81d62;color:#fff}.btn.bg-pink:hover{background-color:#eb3975}.btn.bg-dark-gray{background-color:#363f45;color:#fff}.btn.bg-dark-gray:hover{background-color:#434f56}.btn.bg-purple{background-color:#9b26af;color:#fff}.btn.bg-purple:hover{background-color:#b12bc8}.btn.bg-deep-purple{background-color:#6639b6;color:#fff}.btn.bg-deep-purple:hover{background-color:#7548c6}.btn.bg-indigo{background-color:#3e50b4;color:#fff}.btn.bg-indigo:hover{background-color:#4e60c2}.btn.bg-blue{background-color:#2095f2;color:#fff}.btn.bg-blue:hover{background-color:#3da3f4}.btn.bg-light-blue{background-color:#02a8f3;color:#fff}.btn.bg-light-blue:hover{background-color:#17b5fd}.btn.bg-cyan{background-color:#00bbd3;color:#fff}.btn.bg-cyan:hover{background-color:#00d6f2}.btn.bg-teal{background-color:#009587;color:#fff}.btn.bg-teal:hover{background-color:#00b4a3}.btn.bg-green{background-color:#4bae4f;color:#fff}.btn.bg-green:hover{background-color:#5eba62}.btn.bg-light-green{background-color:#8ac249;color:#fff}.btn.bg-light-green:hover{background-color:#99ca60}.btn.bg-lime{background-color:#ccdb38;color:#fff}.btn.bg-lime:hover{background-color:#d3e052}.btn.bg-yellow{background-color:#feea3a;color:#fff}.btn.bg-yellow:hover{background-color:#feed58}.btn.bg-amber{background-color:#fec006;color:#fff}.btn.bg-amber:hover{background-color:#fec824}.btn.bg-orange{background-color:#fe9700;color:#fff}.btn.bg-orange:hover{background-color:#ffa41e}.btn.bg-deep-orange{background-color:#fe5621;color:#fff}.btn.bg-deep-orange:hover{background-color:#fe6d3f}.btn.bg-brown{background-color:#785447;color:#fff}.btn.bg-brown:hover{background-color:#8b6152}.btn.bg-gray{background-color:#9d9d9d;color:#fff}.btn.bg-gray:hover{background-color:#acacac}.btn.bg-blue-grey{background-color:#5f7c8a;color:#fff}.btn.bg-blue-grey:hover{background-color:#6d8c9b}.bg-red{background-color:#f34235}.bg-pink{background-color:#e81d62}.bg-dark-gray{background-color:#363f45}.bg-purple{background-color:#9b26af}.bg-deep-purple{background-color:#6639b6}.bg-indigo{background-color:#3e50b4}.bg-blue{background-color:#2095f2}.bg-light-blue{background-color:#02a8f3}.bg-cyan{background-color:#00bbd3}.bg-teal{background-color:#009587}.bg-green{background-color:#4bae4f}.bg-light-green{background-color:#8ac249}.bg-lime{background-color:#ccdb38}.bg-yellow{background-color:#feea3a}.bg-amber{background-color:#fec006}.bg-orange{background-color:#fe9700}.bg-deep-orange{background-color:#fe5621}.bg-brown{background-color:#785447}.bg-gray{background-color:#9d9d9d}.bg-blue-grey{background-color:#5f7c8a}.color-red{color:#f34235}.color-pink{color:#e81d62}.color-gray{color:#363f45}.color-purple{color:#9b26af}.color-deep-purple{color:#6639b6}.color-indigo{color:#3e50b4}.color-blue{color:#2095f2}.color-light-blue{color:#02a8f3}.color-cyan{color:#00bbd3}.color-teal{color:#009587}.color-green{color:#4bae4f}.color-light-green{color:#8ac249}.color-lime{color:#ccdb38}.color-yellow{color:#feea3a}.color-amber{color:#fec006}.color-orange{color:#fe9700}.color-deep-orange{color:#fe5621}.color-brown{color:#785447}.color-gray{color:#9d9d9d}.color-blue-grey{color:#5f7c8a}.icons-preview .i{margin:8px 0}.icons-preview .i .zmdi{font-size:24px;font-size:2.4rem}.icons-preview .i .fa,.icons-preview .i .glyphicon{font-size:20px;font-size:2rem}.icons-preview .i .fa{margin-right:5px}.icons-preview .i .glyphicon{vertical-align:middle;width:28px}.icons-preview .i .wi{font-size:26px;font-size:2.6rem;width:48px;vertical-align:middle;text-align:center}.show-grid{margin:15px 0}.show-grid [class^=col-]{padding-top:10px;padding-bottom:10px;border:1px solid #e9eaf1;background-color:#f0f1f5!important}.pageTitle+.breadcrumb{margin:-24px 0 24px 30px}.breadcrumb{padding:0;background:0 0;margin:0 0 24px 30px}.breadcrumb li a{color:#fe5621}.breadcrumb li+li:before{color:#bbbdbf;padding:0 3px}.breadcrumb li.active{color:#919599;font-weight:700}.breadcrumb li .icon,.breadcrumb li .zmdi{font-size:16px;font-size:1.6rem;position:relative;top:1px;margin:0 4px 0 0}@media (max-width:374px){#header .logo{margin:0 0 0 10px;font-size:18px;font-size:1.8rem}#header .logo .icon{margin:0 5px 0 0;top:-2px}.simpleList.simpleListImages>ul>li>a,.simpleList.simpleListImages>ul>li>div{padding:33px 15px 33px 125px}.simpleList.simpleListImages>ul>li>a .arrow,.simpleList.simpleListImages>ul>li>div .arrow{display:none}.simpleList.simpleListImages>ul>li>a .image,.simpleList.simpleListImages>ul>li>div .image{width:125px}}@media (max-width:500px){.checkboxToggler .i{width:100%;margin-top:20px}.checkboxToggler .i:first-child{margin-top:0}.colorSchemeGrid .i{padding:50px 0}.box{padding:30px 15px}.box .tableWrap{margin:0 -15px}.nav-tabs.userProfileTabs{margin-right:-15px;margin-left:-15px}.ct-pie-chart{width:100%}.statsBar .i .c .icon,.statsBar .i .c:before{width:60px}.icons-preview .i{width:100%}.topNavigation .btn-group{position:static}}@media (min-width:501px){#header .topNavigation>li .dropdown-menu{margin:10px 0 0 0}}@media (max-width:600px){.userProfileInfo .image img{width:100%}.productImages .i{width:100%}.productImages .i.image{margin-bottom:10px}.productImages .i.image img{width:100%}.userActivities ul{padding:25px 15px}.userActivities .i .image{position:static;margin:0 0 16px 10px;display:block}.userActivities .i .activityContent{margin:0}.userActivities .i .activityContent:after,.userActivities .i .activityContent:before{left:20px;top:50px}.userActivities .i .activityContent:before{border-color:transparent;border-bottom-color:#cecece;border-width:12px;margin-top:-13px}.userActivities .i .activityContent:after{border-color:transparent;border-bottom-color:#fff}.userActivities .comments li .image{position:static;margin:0 0 6px 0}.userActivities .comments li .c{margin:0}.userActivities .status li .share{text-align:center}.userActivities .status li .share a{margin:5px 10px}.userActivities+.showMore{margin:0;display:block}.wizardWrap .wizard>.steps a{border-bottom-width:0;border-left-width:3px;border-left-style:solid}.wizardWrap .wizard>.steps>ul>li{width:100%;margin:0 0 1px 0}}@media (max-width:767px){.pagination>li>a,.pagination>li>span{width:40px;height:40px;line-height:40px}.loginContentWrap form .parsley-errors-list{left:auto;right:10px}.colorSchemeGrid .i{width:50%;padding:70px 0}.faq-listing .panel-title .user{margin-top:20px}.dataTables_filter,.dataTables_length{margin-top:20px;margin-bottom:20px}}@media (min-width:768px){.container{width:100%}.loginContentWrap .container{width:750px}.nav-tabs-vertical{border:0}.nav-tabs-vertical>li{width:100%;float:none;top:-1px}.nav-tabs-vertical>li:first-child>a{border-top:1px solid #e6e7ed!important}.nav-tabs-vertical>li.active>a{background:#fff;color:#fe5621;border:0;border-left:1px solid #fe5621;border-bottom:1px solid #e6e7ed;border-top:1px solid #e6e7ed;position:relative;-webkit-transition:none;-moz-transition:none;-ms-transition:none;-o-transition:none}.nav-tabs-vertical>li.active>a:focus,.nav-tabs-vertical>li.active>a:hover{background:0 0;color:#fe5621;border-left:1px solid #fe5621;border-bottom:1px solid #e6e7ed;border-top:1px solid #e6e7ed}.nav-tabs-vertical>li.active>a:after{content:'';width:1px;height:100%;position:absolute;left:0;background:#fe5621;top:0}.nav-tabs-vertical>li.active>a:before{content:'';width:1px;height:100%;background:#fff;top:0;right:0;position:absolute;z-index:1}.nav-tabs-vertical>li>a{padding:15px 0;border:0;text-align:center;display:block;border:1px solid #e6e7ed;border-right:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.nav-tabs-vertical>li>a:focus,.nav-tabs-vertical>li>a:hover{border:1px solid #e6e7ed;border-right:0}.tab-content-wrap{padding:0 20px;border:1px solid #e6e7ed;margin-left:-15px}.colorSchemeGrid .i{width:33.3%;padding:80px 0}.userCard.userCardWide .c{min-height:142px}.userCard.userCardWide .c .image img{width:auto;height:auto}.userCard.userCardWide .c .info{padding:0 0 0 165px}.bgTitle{min-height:167px}}@media (max-width:991px){.container{padding-right:0;padding-left:0}.aside{width:56px}.pageContent{margin-left:12px}.pageContent.extended{margin-left:70px}.asideNavigation>ul .sub{position:relative}.asideNavigation>ul .sub ul{position:absolute;top:0;left:100%;z-index:1;min-width:150px}.asideNavigation>ul .sub ul li a{padding:6px 20px}.asideNavigation>ul .sub:hover ul{display:block}.statsBar .i{margin-top:24px}.statsBar .i:first-child{margin-top:0}.order-detail .i:first-child{margin-top:0}}@media (min-width:992px){.container{width:100%}.loginContentWrap .container{width:970px}.colorSchemeGrid .i{width:20%}.userProfileInfo .image img{width:100%}.asideNavigation>ul .sub ul.active{display:block}.order-detail .row:first-child .i{margin-top:0}}@media (min-width:992px) and (max-width:1199px){.statsBar .i .c .icon,.statsBar .i .c:before{width:60px}}@media (min-width:1200px){.container{width:100%}.loginContentWrap .container{width:1170px}.nav-tabs.userProfileTabs>li>a{padding:15px 55px}#donut-chart{min-height:385px}}@media (min-width:1410px){.pageWrap .pageContent>.container{width:1176px}#header .pageContent>.container{width:1385px}}.btns-preview{margin-bottom:10px}.btns-preview .btn,.btns-preview .btn-group{margin-right:10px;vertical-align:bottom}.btns-preview .btn{margin-top:10px}.btns-preview .btn-group .btn{margin-right:0}